<div class="grid grid-cols-1 xl:grid-cols-2 gap-4">

  <div *ngFor="let publication of publications" class="border-1 border-gray-300 rounded-xl shadow-sm p-4 space-y-4">
    <div class="flex items-center gap-3">
      <img [src]="publication.avatar" alt="Avatar" class="w-10 h-10 rounded-full">

      <div class="flex-1">
        <h3 class="text-sm font-semibold text-gray-800">{{ publication.nombreCompleto }}</h3>
        <div class="flex items-center gap-2">
          <p class="text-xs text-gray-500 truncate w-40">{{ publication.nombreCarrera }}</p>
          <div class="flex items-center gap-1 ml-auto">
            <span class="text-xs bg-gray-100 text-gray-600 px-2 py-1 rounded-full">{{ publication.nombreCategoria
              }}</span>
            <span class="text-xs text-gray-400">• {{ getTimeElapsedWrapper(publication.fechaRegistro) }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full overflow-hidden">
      <div class="group relative h-[260px]" style="scrollbar-gutter: stable both-edges;">
        <div
          class="flex gap-4 overflow-hidden group-hover:overflow-x-auto group-hover:scrollbar-thin group-hover:scrollbar-thumb-blue-500 py-4 h-full">

          <!-- Condición para una sola imagen o video -->
          <ng-container *ngIf="publication.archivos.length === 1">
            <figure *ngFor="let archivo of publication.archivos" class="shrink-0 w-full">
              <div class="overflow-hidden rounded-md">
                <!-- Imágenes -->
                <img *ngIf="archivo.tipo === 'imagen'" [src]="archivo.rutaArchivo" alt="Media"
                  class="aspect-square h-54 w-full object-cover" />

                <!-- Videos -->
                <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-full object-cover">
                  <source [src]="archivo.rutaArchivo" type="video/mp4" />
                  Tu navegador no soporta la etiqueta de video.
                </video>
              </div>
            </figure>
          </ng-container>

          <!-- Condición para múltiples archivos -->
          <ng-container *ngIf="publication.archivos.length > 1">
            <figure *ngFor="let archivo of publication.archivos" class="shrink-0">
              <div class="overflow-hidden rounded-md">
                <!-- Imágenes -->
                <img *ngIf="archivo.tipo === 'imagen'" [src]="archivo.rutaArchivo" alt="Media"
                  class="aspect-square h-54 w-54 object-cover" />

                <!-- Videos -->
                <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-54 object-cover">
                  <source [src]="archivo.rutaArchivo" type="video/mp4" />
                  Tu navegador no soporta la etiqueta de video.
                </video>
              </div>
            </figure>
          </ng-container>

        </div>
      </div>
    </div>

    <!-- Contenido -->
    <div>
      <a (click)="navigateToCareer(publication.idPublicacion)">
      <h4 class="font-semibold truncate text-gray-900 text-sm">{{ publication.titulo }}</h4>
      <p class="text-gray-600 text-sm mt-1 truncate" >{{ publication.contenido }}</p>
    </a>
    </div>
    
    <app-totals-reaction-comment [idPublicacion]="publication.idPublicacion"></app-totals-reaction-comment>
    <app-reaction
      [idUsuario]="currentUserId ?? ''"
      [idPublicacion]="publication.idPublicacion"
    ></app-reaction>
    
    <app-login-modal *ngIf="isLoginModalVisible$ | async"></app-login-modal>
  </div>
</div>