<div class="grid grid-cols-1 xl:grid-cols-2 gap-4">

  <div *ngFor="let publication of publications"
    class="border border-gray-200 rounded-xl hover:shadow-md hover:bg-gradient-to-r from-gray-50 to-transparent p-4 space-y-4 hover:border-gray-300 transition-all duration-300 ease-in-out">
    <div class="flex items-center gap-3">
      <a (click)="navigateToProfileUser(publication.idUsuario)">
        <img [src]="publication.avatar" alt="Avatar" class="w-10 h-10 rounded-full hover-img-avatar"
          (mouseenter)="showHoverModal(publication.idUsuario, $event)" (mouseleave)="hideHoverModal()" />
      </a>
      <div class="flex-1">
        <a class="flex items-center gap-2" (click)="navigateToProfileUser(publication.idUsuario)">
          <h3 class="text-sm font-semibold text-gray-800 hover:underline">{{ publication.nombreCompleto }}</h3>
          <ng-container *ngIf="publication.tipoRol === 'ADMINISTRADOR'">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
              <title>Usuario administrador</title>
              <path fill="#2b7fff" fill-rule="evenodd"
                d="M21.007 8.27C22.194 9.125 23 10.45 23 12s-.806 2.876-1.993 3.73c.24 1.442-.134 2.958-1.227 4.05c-1.095 1.095-2.61 1.459-4.046 1.225C14.883 22.196 13.546 23 12 23c-1.55 0-2.878-.807-3.731-1.996c-1.438.235-2.954-.128-4.05-1.224c-1.095-1.095-1.459-2.611-1.217-4.05C1.816 14.877 1 13.551 1 12s.816-2.878 2.002-3.73c-.242-1.439.122-2.955 1.218-4.05c1.093-1.094 2.61-1.467 4.057-1.227C9.125 1.804 10.453 1 12 1c1.545 0 2.88.803 3.732 1.993c1.442-.24 2.956.135 4.048 1.227s1.468 2.608 1.227 4.05m-4.426-.084a1 1 0 0 1 .233 1.395l-5 7a1 1 0 0 1-1.521.126l-3-3a1 1 0 0 1 1.414-1.414l2.165 2.165l4.314-6.04a1 1 0 0 1 1.395-.232"
                clip-rule="evenodd" />
            </svg>
          </ng-container>
        </a>
        <div class="flex items-center gap-2">
          <p class="text-xs text-gray-500">{{ publication.nombreCarrera }}</p>
          <div class="flex items-center gap-1 ml-auto">
            <span class="text-xs bg-gray-100 text-gray-600 px-2 py-1 rounded-full">{{ publication.nombreCategoria
              }}</span>
            <span class="text-xs text-gray-400">• {{ getTimeElapsedWrapper(publication.fechaRegistro) }}</span>
          </div>
        </div>
      </div>

      <div class="relative inline-block text-left" *ngIf="publication.idUsuario === currentUserId">
        <div>
          <button type="button" id="option-publication" class="text-gray-800 hover:bg-gray-100 p-1 rounded-lg transition-colors duration-300" aria-expanded="true" aria-haspopup="true"
            (click)="toggleDropdown(publication)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 12a1 1 0 1 0 2 0a1 1 0 1 0-2 0m7 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0m7 0a1 1 0 1 0 2 0a1 1 0 1 0-2 0" />
            </svg>
          </button>
        </div>
        <div *ngIf="publication.isDropdownVisible"
          class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-hidden">
          <div class="py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 transition-colors duration-300"
              (click)="deletePublication(publication.idPublicacion)">Eliminar</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-50 transition-colors duration-300">Actualizar</a>
          </div>
        </div>
      </div>

    </div>

    <app-hover-avatar *ngIf="isHoverModalVisible" [profileData]="hoverProfileData" [position]="hoverPosition"
      (mouseenter)="onModalMouseEnter()" (mouseleave)="onModalMouseLeave()"></app-hover-avatar>

    <a (click)="navigateToDetailPublication(publication.idPublicacion)" title="Ver mas...">
      <div class="w-full overflow-hidden">
        <div class="group relative h-[260px]" style="scrollbar-gutter: stable both-edges;">
          <div
            class="flex gap-4 overflow-hidden group-hover:overflow-x-auto group-hover:scrollbar-thin group-hover:scrollbar-thumb-blue-500 py-4 h-full">

            <!-- Condición para una sola imagen, video o GIF -->
            <ng-container *ngIf="publication.archivos.length === 1">
              <figure *ngFor="let archivo of publication.archivos; let i = index" class="shrink-0 w-full scroll-touch">
                <div class="overflow-hidden rounded-md">
                  <img *ngIf="archivo.tipo === 'imagen' && !archivo.rutaArchivo.endsWith('.gif')"
                    [src]="archivo.rutaArchivo" alt="Media" class="aspect-square h-54 w-full object-cover" />

                  <img *ngIf="archivo.tipo === 'gif' && archivo.rutaArchivo.endsWith('.gif')"
                    [src]="archivo.rutaArchivo" alt="GIF" class="aspect-square h-54 w-full object-cover" />

                  <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-full object-cover">
                    <source [src]="archivo.rutaArchivo" type="video/mp4" />
                    Tu navegador no soporta la etiqueta de video.
                  </video>
                </div>
              </figure>
            </ng-container>
            <!-- Condición para múltiples archivos -->
            <ng-container *ngIf="publication.archivos.length > 1">
              <div class="flex sm:overflow-visible overflow-x-auto gap-4 px-1">

                <figure *ngFor="let archivo of publication.archivos; let i = index" class="shrink-0">
                  <div class="overflow-hidden rounded-md">

                    <img *ngIf="archivo.tipo === 'imagen'" [src]="archivo.rutaArchivo" alt="Media"
                      class="aspect-square h-54 w-54 object-cover" />

                    <img *ngIf="archivo.tipo === 'gif' && archivo.rutaArchivo.endsWith('.gif')"
                      [src]="archivo.rutaArchivo" alt="GIF" class="aspect-square h-54 w-54 object-cover" />

                    <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-54 object-cover">
                      <source [src]="archivo.rutaArchivo" type="video/mp4" />
                      Tu navegador no soporta la etiqueta de video.
                    </video>
                  </div>
                </figure>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </a>
    <!-- Contenido -->
    <div>
      <a (click)="navigateToDetailPublication(publication.idPublicacion)" title="Ver mas...">
        <h4 class="font-semibold truncate text-gray-900 text-sm">{{ publication.titulo }}</h4>
        <div class="text-gray-600 text-sm mt-1 clamped" [innerHTML]="publication.contenido"></div>
      </a>
    </div>

    <app-modal-users-by-reaction-type *ngIf="publication.isReactionModalVisible"
      [reactionType]="publication.reactionType" [users]="publication.reactionUsers"
      [position]="publication.hoverPosition" (mouseenter)="onModalMouseEnter()"
      (mouseleave)="onModalMouseLeaveReaction(publication)">
    </app-modal-users-by-reaction-type>

    <app-totals-reaction-comment [idPublicacion]="publication.idPublicacion"
      [totalComentarios]="publication.totalComentarios ?? 0" [reacciones]="publication.reacciones"
      (hoverReaction)="openReactionHover($event, publication)" (leaveReaction)="closeReactionHover(publication)"
      (hoverComments)="openCommentHover($event, publication)" (leaveComments)="closeCommentHover(publication)">
    </app-totals-reaction-comment>

    <app-modal-user-comment-publication *ngIf="publication.isCommentModalVisible"
      [usersComment]="publication.usersComment ?? []" [position]="publication.commentHoverPosition ?? null"
      (mouseenter)="onModalMouseEnter()" (mouseleave)="onModalMouseLeaveComment(publication)">
    </app-modal-user-comment-publication>

    <app-reaction [idUsuario]="currentUserId ?? ''" [idPublicacion]="publication.idPublicacion"
      (reactionChanged)="updateReactions(publication.idPublicacion)">
    </app-reaction>

    <app-login-modal *ngIf="isLoginModalVisible$ | async"></app-login-modal>

    <app-complete-info-register-google *ngIf="isInfoCompleteModalVisible$ | async"></app-complete-info-register-google>

  </div>

  <div *ngIf="isLoading" class="flex justify-center items-center mt-4">
    <svg fill="currentColor" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z">
        <animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12"
          repeatCount="indefinite" />
      </path>
    </svg>
  </div>
</div>