<header (click)="onClickOutside($event)">
  <nav class="flex items-center justify-between p-4 md:px-8 z-10 fade-in" aria-label="Global">
    <div class="flex md:flex-1">
      <a (click)="navigateToIndex()" class="relative -m-1.5 p-1.5 md:flex">
        <svg class="absolute opacity-30 -z-10" width="64" height="44" viewBox="0 0 64 44" fill="none">
          <use xlink:href="/assets/sprite.svg#logouffondo" />
        </svg>

        <svg width="64" height="44" viewBox="0 0 64 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="line"
            d="M6.03774 3.40015H43.5746C52.9851 3.40015 57.6903 3.40015 60.1045 6.46684C62.5187 9.53353 61.4141 14.1072 59.2049 23.2547L57.3113 31.0953C55.8849 37.0017 55.1717 39.9548 52.9835 41.6775C50.7953 43.4001 47.7572 43.4001 41.6811 43.4001H18.6889C10.0002 43.4001 5.65575 43.4001 3.24994 40.6039C0.844136 37.8077 1.49255 33.512 2.78937 24.9205L6.03774 3.40015Z"
            stroke="currentColor" stroke-width="1.8" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M38.6865 11.6097L38.721 25.2129C38.5162 32.6571 32.6819 38.625 25.3382 38.6436C17.9281 38.6624 11.906 32.6337 11.8871 25.1777L11.8528 11.6778L18.5613 11.6607L18.5955 25.1607C18.605 28.8887 21.616 31.9031 25.321 31.8937C28.9613 31.8844 31.8878 28.907 32.0122 25.0727L31.9781 11.6267L38.6865 11.6097Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line"
            d="M38.8326 15.0135C40.4524 13.7238 45.018 12.3924 47.4644 14.8594C47.8399 15.34 48.4203 15.8841 48.7058 15.9072C52.1875 16.189 52.9931 12.0869 51.7517 11.0389C50.5104 9.99086 50.5104 9.99124 50.5104 9.99124C45.2674 5.24782 37.0587 7.67149 31.9378 11.0211"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M45.6169 21.0312C46.2691 20.9757 46.9233 21.112 47.499 21.4235C48.0747 21.7349 48.5468 22.2078 48.8572 22.784C49.1676 23.3602 49.3029 24.0147 49.2463 24.6667C49.1896 25.3188 48.9437 25.9401 48.5386 26.4542C48.1335 26.9683 47.5869 27.3528 46.9662 27.5603C46.3454 27.7679 45.6775 27.7894 45.0447 27.6224C44.4118 27.4553 43.8416 27.1069 43.4042 26.62C42.9668 26.1331 42.6812 25.529 42.5826 24.8819L42.5449 24.4356C42.5091 22.6866 43.8416 21.1814 45.6169 21.0312Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" d="M32.0189 11.4984L31.9617 38.4765L38.6687 38.4907L38.7259 11.4908L32.0189 11.4766"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <h1 class="font-display text-[1.70rem] font-black italic hidden md:flex my-1">
          Unamba
          <span class="relative bg-white px-2 text-[#155FFC]"
            style="clip-path: polygon(8% 15%, 100% 15%, 93% 90%, 0% 90%)">
            forum
          </span>
        </h1>
      </a>
    </div>
    <div class="hidden md:flex md:gap-x-12 md:items-center ">
      <a href="/" class="flex items-center gap-2 p-1 text-sm font-semibold white10 hover:rounded-md">
        <svg class="size-6 hidden xl:block" viewBox="0 0 24 24" aria-hidden="true">
          <use xlink:href="/assets/sprite.svg#home" />
        </svg>Inicio</a>
      <ng-container *ngIf="isLoggedIn">
        <a (click)="navigateToNewPublication()" class="flex items-center white10 hover:rounded-md p-1 gap-2 text-sm font-semibold">
          <svg class="size-6 hidden xl:block" viewBox="0 0 24 24">
            <use xlink:href="/assets/sprite.svg#add" />
          </svg>Nuevo</a>
      </ng-container>
      <div class="relative group">
        <a type="button" class="flex items-center gap-2 p-1 text-sm font-semibold white10 hover:rounded-md">
          <svg class="size-6 hidden xl:block" viewBox="0 0 256 256">
            <use xlink:href="/assets/sprite.svg#career" />
          </svg>
          Carreras
          <svg class="size-5 -ml-2" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <use xlink:href="/assets/sprite.svg#arrowbottom" />
          </svg>
        </a>

        <div
          class="absolute top-full -left-8 z-10 mt-3 w-screen max-w-md rounded-3xl bg-white ring-1 ring-gray-900/5 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 overflow-y-scroll max-h-150">
          <div class="p-4">
            <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm hover:bg-gray-50">
              <div
                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <img src="/assets/img/career/todascarreras.webp" alt="Todas" />
              </div>
              <div class="flex-auto">
                <a class="block font-semibold text-gray-600 cursor-pointer" (click)="navigateToAllCareers()"> Todas
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">
                  Ver todas las carreras disponibles
                </p>
              </div>
            </div>
            <div *ngFor="let c of career"
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm hover:bg-gray-50">
              <div
                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <img [src]="c.logo" [alt]="c.nombre" />
              </div>
              <div class="flex-auto">
                <a class="block font-semibold text-gray-600 cursor-pointer" (click)="navigateToCareer(c.idCarrera)"> {{
                  c.nombre }}
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600 line-clamp-2">{{ c.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-search></app-search>

    <div class="flex flex-1 justify-end mr-3 sm:mr-0">
      <ng-container *ngIf="isLoggedIn; else guestButtons">
        <app-notification></app-notification>
        <div class="flex items-center gap-4 relative">
          <div class="inline-block group cursor-pointer" (click)="togglePopover()">
            <img *ngIf="userProfile?.fotoPerfil" [src]="userProfile.fotoPerfil" alt="Foto de perfil"
              class="size-11 rounded-full hover-img-avatar object-cover" />
            <div
              class="absolute bottom-0 -right-1.5 w-5 h-5 flex items-center justify-center bg-white rounded-full opacity-0 group-hover:opacity-100 transition-opacity duration-300 border border-gray-300"
              [ngClass]="{
                'opacity-100': showPopover,
                'opacity-0': !showPopover
              }">
              <svg class="size-5 text-gray-600" viewBox="0 0 20 20" aria-hidden="true">
                <use xlink:href="/assets/sprite.svg#arrowbottom" />
              </svg>
            </div>
          </div>
          <!-- Menú desplegable -->
          <div *ngIf="showPopover" #popoverMenu
            class="absolute top-full right-0 mt-2 w-72 bg-white rounded-xl shadow-lg z-50 pt-2 pb-3">
            <div class="px-4 py-3 flex gap-3">
              <div class="relative flex h-12 w-12 shrink-0 overflow-hidden rounded-full">
                <img [src]="userProfile?.fotoPerfil" alt="Foto de perfil" class="w-full h-full object-cover" />
              </div>
              <div>
                <div class="text-gray-900 font-medium mb-1">
                  {{ userProfile?.nombre }} {{ userProfile?.apellidos }}
                </div>
                <div class="text-sm text-gray-500 line-clamp-1 w-52 xl:w-50">
                  {{ userProfile?.email }}
                </div>
              </div>
            </div>
            <ul>
              <li>
                <a (click)="navigateToProfileUser(userProfile.idUsuario)"
                  class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-gray-600 text-sm">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="/assets/sprite.svg#user" />
                  </svg>
                  Perfil
                </a>
              </li>
              <li>
                <a class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-gray-600 text-sm"
                  (click)="navigateToConfiguration()">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="/assets/sprite.svg#configuration" />
                  </svg>
                  Configuración
                </a>
              </li>
              <li>
                <a class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-red-600 text-sm border-t border-gray-200"
                  (click)="logOut()">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="/assets/sprite.svg#goout" />
                  </svg>
                  Cerrar sesión
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <ng-template #guestButtons>
        <div>
          <button class="px-1 text-sm sm:text-lg sm:px-2 sm:py-1 rounded mr-0 md:mr-2 hover:text-gray-400" (click)="navigateToLogin()">
            Iniciar sesión
          </button>
          <button
            class="button-scroll-animate text-sm sm:text-lg text-[#2b7fff] px-1 py-1 sm:px-2 sm:py-2 md:px-4 md:py-2 rounded hover:bg-gray-300 font-semibold"
            (click)="navigateToRegister()">
            Registrarse
          </button>
        </div>
      </ng-template>
    </div>
    <!-- Botón Hamburguesa -->
    <div class="flex md:hidden justify-end">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
        (click)="toggleMenu()">
        <span class="sr-only">Abrir menú</span>
        <svg *ngIf="!menuAbierto" class="size-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

        <svg *ngIf="menuAbierto" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </nav>
</header>

<!-- Moviles -->
<div *ngIf="menuAbierto" class="md:hidden fixed inset-0 z-50 bg-black/50" (click)="toggleMenu()"></div>

<div *ngIf="menuAbierto"
  class="md:hidden fixed inset-y-0 right-0 z-50 w-full max-w-sm bg-white px-6 py-6 overflow-y-auto" #menuMovil>
  <div class="flex items-center justify-between">
    <a href="#" class="-m-1.5 p-1.5 flex">
      <svg width="64" height="44" viewBox="0 0 64 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="line"
          d="M6.03774 3.40015H43.5746C52.9851 3.40015 57.6903 3.40015 60.1045 6.46684C62.5187 9.53353 61.4141 14.1072 59.2049 23.2547L57.3113 31.0953C55.8849 37.0017 55.1717 39.9548 52.9835 41.6775C50.7953 43.4001 47.7572 43.4001 41.6811 43.4001H18.6889C10.0002 43.4001 5.65575 43.4001 3.24994 40.6039C0.844136 37.8077 1.49255 33.512 2.78937 24.9205L6.03774 3.40015Z"
          stroke="currentColor" stroke-width="1.8" />
        <path class="line" fill-rule="evenodd" clip-rule="evenodd"
          d="M38.6865 11.6097L38.721 25.2129C38.5162 32.6571 32.6819 38.625 25.3382 38.6436C17.9281 38.6624 11.906 32.6337 11.8871 25.1777L11.8528 11.6778L18.5613 11.6607L18.5955 25.1607C18.605 28.8887 21.616 31.9031 25.321 31.8937C28.9613 31.8844 31.8878 28.907 32.0122 25.0727L31.9781 11.6267L38.6865 11.6097Z"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line"
          d="M38.8326 15.0135C40.4524 13.7238 45.018 12.3924 47.4644 14.8594C47.8399 15.34 48.4203 15.8841 48.7058 15.9072C52.1875 16.189 52.9931 12.0869 51.7517 11.0389C50.5104 9.99086 50.5104 9.99124 50.5104 9.99124C45.2674 5.24782 37.0587 7.67149 31.9378 11.0211"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line" fill-rule="evenodd" clip-rule="evenodd"
          d="M45.6169 21.0312C46.2691 20.9757 46.9233 21.112 47.499 21.4235C48.0747 21.7349 48.5468 22.2078 48.8572 22.784C49.1676 23.3602 49.3029 24.0147 49.2463 24.6667C49.1896 25.3188 48.9437 25.9401 48.5386 26.4542C48.1335 26.9683 47.5869 27.3528 46.9662 27.5603C46.3454 27.7679 45.6775 27.7894 45.0447 27.6224C44.4118 27.4553 43.8416 27.1069 43.4042 26.62C42.9668 26.1331 42.6812 25.529 42.5826 24.8819L42.5449 24.4356C42.5091 22.6866 43.8416 21.1814 45.6169 21.0312Z"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line" d="M32.0189 11.4984L31.9617 38.4765L38.6687 38.4907L38.7259 11.4908L32.0189 11.4766"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <h1 class="font-display text-[1.70rem] font-black italic my-1">
        Unamba
        <span class="relative bg-[#155FFC] px-2 text-white"
          style="clip-path: polygon(8% 15%, 100% 15%, 93% 90%, 0% 90%)">
          forum
        </span>
      </h1>
    </a>
    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="toggleMenu()">
      <span class="sr-only">Cerrar menú</span>
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="mt-6 flow-root">
    <div class="-my-6 divide-y divide-gray-500/10">
      <div class="space-y-2 py-6">
        <ng-container *ngIf="!isLoggedIn">
          <div class="flex flex-col items-center justify-center space-y-2">
            <button class="px-4 py-2 rounded hover:text-blue-600 w-full" (click)="navigateToLogin()">
              Iniciar sesión
            </button>
            <button class="text-white bg-secondary-blue px-4 py-2 rounded w-full hover:bg-gray-300 font-semibold"
              (click)="navigateToRegister()">
              Registrarse
            </button>
          </div>
        </ng-container>
        <a href="/"
          class="flex gap-2 -mx-3 rounded-lg px-3 py-2 font-semibold text-gray-900 hover:bg-gray-50">
          <svg class="size-5" viewBox="0 0 24 24" aria-hidden="true">
            <use xlink:href="/assets/sprite.svg#home" />
          </svg> Inicio</a>
        <ng-container *ngIf="isLoggedIn">
          <a (click)="navigateToNewPublication()"
            class="flex gap-2 -mx-3 rounded-lg px-3 py-2 font-semibold text-gray-900 hover:bg-gray-50">
            <svg class="size-5" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#add" />
            </svg>
            Nuevo</a>
        </ng-container>

        <div class="-mx-3">
          <a type="button"
            class="flex items-center w-full rounded-lg font-semibold text-gray-900 hover:bg-gray-50 px-3 py-2 justify-between"
            aria-controls="disclosure-1" aria-expanded="false">
            <span class="flex items-center gap-2">
              <svg class="size-5" viewBox="0 0 256 256">
                <use xlink:href="/assets/sprite.svg#career" />
              </svg>
              Carreras
            </span>

            <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <use xlink:href="/assets/sprite.svg#arrowbottom" />
            </svg>
          </a>
          <!-- Contenedor de Carreras con scroll vertical -->
          <div class="mt-2 space-y-2 max-h-[300px] overflow-y-auto" id="disclosure-1">
            <div *ngFor="let c of career"
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm hover:bg-gray-50">
              <div
                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <img [src]="c.logo" [alt]="c.nombre" />
              </div>
              <div class="flex-auto">
                <a class="block font-semibold text-gray-600 cursor-pointer clamped"
                  (click)="navigateToCareer(c.idCarrera)">
                  {{ c.nombre }}
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">{{ c.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="py-6">
        <ng-container *ngIf="isLoggedIn">
          <div class="flex items-center gap-4">
            <img *ngIf="userProfile?.fotoPerfil" [src]="userProfile.fotoPerfil" alt="Foto de perfil"
              class="w-10 h-10 rounded-full object-cover" />
            <span class="font-medium">{{ userProfile?.nombre }} {{
              userProfile?.apellidos }}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
