<header (click)="onClickOutside($event)">
  <nav class="flex items-center justify-between p-6 md:px-8" aria-label="Global">
    <div class="flex md:flex-1">

      <a href="#" class="relative -m-1.5 p-1.5 md:flex">

        <svg class="absolute opacity-30 -z-10" width="64" height="44" viewBox="0 0 64 44" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M6.03774 2.3999H43.5746C52.9851 2.3999 57.6903 2.3999 60.1045 5.46659C62.5187 8.53329 61.4141 13.107
          59.2049 22.2544L57.3113 30.0951C55.8849 36.0014 55.1717 38.9546 52.9835 40.6772C50.7953 42.3999
          47.7572 42.3999 41.6811 42.3999H18.6889C10.0002 42.3999 5.65575 42.3999 3.24994 39.6037C0.844136 36.8075
          1.49255 32.5118 2.78937 23.9203L6.03774 2.3999Z" stroke="currentColor" stroke-width="1.8" />
          <path fill-rule="evenodd" clip-rule="evenodd" d="M39.7456 10.6449L38.633 24.2026C37.8012 31.603 31.4846 37.0577 24.1654 36.4571C16.7802 35.8511
          11.2878 29.336 11.8976 21.9051L13.0017 8.45028L19.6877 8.99893L18.5835 22.4537C18.2787 26.1692
          21.0248 29.4267 24.7175 29.7297C28.3456 30.0275 31.5126 27.3074 31.9599 23.4972L33.0596 10.0962
          L39.7456 10.6449Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

          <path
            d="M39.6041 14.0487C41.327 12.9001 45.9885 11.9583 48.2183 14.6228C48.5519 15.1334 49.0843 15.7245 49.3668 15.7716C52.8124 16.346 53.961 12.3263 52.8124 11.1774C51.6639 10.0285 51.6639 10.0288 51.6639 10.0288C46.8394 4.86026 38.4556 6.5832 33.0705 9.48908"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M45.857 20.6169C46.5115 20.6166 47.1519 20.8076 47.6993 21.1665C48.2467 21.5254 48.6772 22.0364 48.938 22.6367C49.1987 23.2371 49.2783 23.9006 49.1669 24.5455C49.0555 25.1905 48.758 25.7889 48.311 26.267C47.864 26.7451 47.287 27.0821 46.6509 27.2366C46.0149 27.3911 45.3476 27.3562 44.7311 27.1364C44.1146 26.9166 43.5758 26.5214 43.1809 25.9993C42.7861 25.4773 42.5525 24.8512 42.5089 24.1981V23.7502C42.6206 22.0045 44.0753 20.6169 45.857 20.6169Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M33.1111 9.97146L30.7795 36.8487L37.4614 37.4283L39.795 10.5294L33.113 9.94971" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <svg width="64" height="44" viewBox="0 0 64 44" fill="none" xmlns="http://www.w3.org/2000/svg">

          <path class="line"
            d="M6.03774 2.3999H43.5746C52.9851 2.3999 57.6903 2.3999 60.1045 5.46659C62.5187 8.53329 61.4141 13.107 59.2049 22.2544L57.3113 30.0951C55.8849 36.0014 55.1717 38.9546 52.9835 40.6772C50.7953 42.3999 47.7572 42.3999 41.6811 42.3999H18.6889C10.0002 42.3999 5.65575 42.3999 3.24994 39.6037C0.844136 36.8075 1.49255 32.5118 2.78937 23.9203L6.03774 2.3999Z"
            stroke="currentColor" stroke-width="1.8" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M39.7456 10.6449L38.633 24.2026C37.8012 31.603 31.4846 37.0577 24.1654 36.4571C16.7802 35.8511 11.2878 29.336 11.8976 21.9051L13.0017 8.45028L19.6877 8.99893L18.5835 22.4537C18.2787 26.1692 21.0248 29.4267 24.7175 29.7297C28.3456 30.0275 31.5126 27.3074 31.9599 23.4972L33.0596 10.0962L39.7456 10.6449Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line"
            d="M39.6041 14.0487C41.327 12.9001 45.9885 11.9583 48.2183 14.6228C48.5519 15.1334 49.0843 15.7245 49.3668 15.7716C52.8124 16.346 53.961 12.3263 52.8124 11.1774C51.6639 10.0285 51.6639 10.0288 51.6639 10.0288C46.8394 4.86026 38.4556 6.5832 33.0705 9.48908"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M45.857 20.6169C46.5115 20.6166 47.1519 20.8076 47.6993 21.1665C48.2467 21.5254 48.6772 22.0364 48.938 22.6367C49.1987 23.2371 49.2783 23.9006 49.1669 24.5455C49.0555 25.1905 48.758 25.7889 48.311 26.267C47.864 26.7451 47.287 27.0821 46.6509 27.2366C46.0149 27.3911 45.3476 27.3562 44.7311 27.1364C44.1146 26.9166 43.5758 26.5214 43.1809 25.9993C42.7861 25.4773 42.5525 24.8512 42.5089 24.1981V23.7502C42.6206 22.0045 44.0753 20.6169 45.857 20.6169Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" d="M33.1111 9.97146L30.7795 36.8487L37.4614 37.4283L39.795 10.5294L33.113 9.94971"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <h1 class="font-display text-[1.70rem] font-black italic hidden md:flex my-1">
          Unamba <span class="relative bg-white px-2 text-[#155FFC]" style="
            clip-path: polygon(8% 15%, 100% 15%, 93% 90%, 0% 90%);
            mask-image: radial-gradient(circle, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
          ">
            forum
          </span>
        </h1>
      </a>
    </div>
    <div class="hidden md:flex md:gap-x-12">
      <a href="#" class="text-sm font-semibold">Inicio</a>
      <ng-container *ngIf="isLoggedIn">

        <a href="#" class="text-sm font-semibold">Nuevo</a>
      </ng-container>
      <div class="relative group">
        <button type="button" class="flex items-center gap-x-1 text-sm font-semibold">
          Carreras
          <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd" />
          </svg>
        </button>

        <div
          class="absolute top-full -left-8 z-10 mt-3 w-screen max-w-md rounded-3xl bg-white ring-1 ring-gray-900/5 shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 overflow-y-scroll max-h-150">
          <div class="p-4">
            <div *ngFor="let c of career"
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm hover:bg-gray-50">
              <div
                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <img [src]="c.logo" [alt]="c.nombre">
              </div>
              <div class="flex-auto">
                <a class="block font-semibold text-gray-600 cursor-pointer" (click)="navigateToCareer(c.idCarrera)">
                  {{c.nombre}}
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">{{c.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-1 justify-end mr-3 ">
      <ng-container *ngIf="isLoggedIn; else guestButtons">

        <div class=" flex items-center gap-4 relative">
          <img *ngIf="userProfile?.fotoPerfil" [src]="userProfile.fotoPerfil" alt="Foto de perfil"
            class="w-10 h-10 rounded-full cursor-pointer" (click)="togglePopover()" />
          <!-- Menú desplegable -->
          <div *ngIf="showPopover" #popoverMenu
            class="absolute top-full right-0 mt-2 w-72 bg-white rounded-xl shadow-lg z-50">
            <div class="px-4 py-3 flex gap-3">
              <div>
                <img [src]="userProfile?.fotoPerfil" alt="Foto de perfil"
                  class="w-12 h-12 rounded-full cursor-pointer object-cover" />
              </div>
              <div>
                <div class="text-indigo-600 font-normal mb-1">
                  {{ userProfile?.nombre }} {{ userProfile?.apellidos }}
                </div>
                <div class="text-sm text-gray-500 font-medium truncate">
                  {{ userProfile?.email }}
                </div>
              </div>
            </div>
            <ul class="py-2">
              <li>
                <a class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium"
                  href="javascript:;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2">
                      <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                      <circle cx="12" cy="7" r="4" />
                    </g>
                  </svg>
                  Perfil
                </a>
              </li>
              <li>
                <a class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium"
                  href="javascript:;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="2">
                      <circle cx="12" cy="12" r="10" />
                      <path d="M12 16v-4m0-4h.01" />
                    </g>
                  </svg>
                  Sobre nosotros
                </a>
              </li>
              <li>
                <a class="flex items-center gap-3 px-6 py-2 hover:bg-gray-100 text-gray-900 font-medium"
                  href="javascript:;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <g fill="currentColor" fill-rule="evenodd" clip-rule="evenodd">
                      <path
                        d="M11.199 2.587a1.65 1.65 0 0 1 1.602 0l7.2 4c.524.291.849.843.849 1.443v7.94c0 .6-.325 1.152-.849 1.443l-7.2 4a1.65 1.65 0 0 1-1.602 0l-7.2-4a1.65 1.65 0 0 1-.849-1.443V8.03c0-.6.325-1.152.849-1.443zm.874 1.312a.15.15 0 0 0-.146 0l-7.2 4a.15.15 0 0 0-.077.13v7.942c0 .054.03.104.077.13l7.2 4a.15.15 0 0 0 .146 0l7.2-4a.15.15 0 0 0 .077-.13V8.03a.15.15 0 0 0-.077-.131z" />
                      <path
                        d="M7.25 12a4.75 4.75 0 1 1 9.5 0a4.75 4.75 0 0 1-9.5 0M12 8.75a3.25 3.25 0 1 0 0 6.5a3.25 3.25 0 0 0 0-6.5" />
                    </g>
                  </svg>
                  Configuración
                </a>
              </li>
            </ul>
            <div class="py-2">
              <a class="flex items-center gap-3 px-6 py-2 text-red-500 font-medium" href="javascript:;"
                (click)="logOut()">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="#DF3636"
                    d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h6q.425 0 .713.288T12 4t-.288.713T11 5H5v14h6q.425 0 .713.288T12 20t-.288.713T11 21zm12.175-8H10q-.425 0-.712-.288T9 12t.288-.712T10 11h7.175L15.3 9.125q-.275-.275-.275-.675t.275-.7t.7-.313t.725.288L20.3 11.3q.3.3.3.7t-.3.7l-3.575 3.575q-.3.3-.712.288t-.713-.313q-.275-.3-.262-.712t.287-.688z" />
                </svg>
                Cerrar sesión
              </a>
            </div>
          </div>
        </div>

      </ng-container>
      <ng-template #guestButtons>
        <div>
          <button class="px-4 py-2 rounded md:mr-2 hover:text-gray-400 cursor-pointer" (click)="navigateToLogin()">
            Iniciar sesión
          </button>
          <button
            class="button-scroll-animate text-[#2b7fff] px-2 py-1 md:px-4 md:py-2 cursor-pointer rounded hover:bg-gray-300"
            (click)="navigateToRegister()">
            Registrarse
          </button>
        </div>
      </ng-template>
    </div>
    <!-- Botón Hamburguesa -->
    <div class="flex md:hidden justify-end">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5"
        (click)="toggleMenu()">
        <span class="sr-only">Abrir menú</span>
        <svg *ngIf="!menuAbierto" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>

        <svg *ngIf="menuAbierto" class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </nav>
</header>
<!-- Moviles -->

<div *ngIf="menuAbierto" class="md:hidden fixed inset-0 z-50 bg-black/50" (click)="toggleMenu()"></div>

<div *ngIf="menuAbierto"
  class="md:hidden fixed inset-y-0 right-0 z-50 w-full max-w-sm bg-white px-6 py-6 overflow-y-auto" #menuMovil>
  <div class="flex items-center justify-between">
    <a href="#" class="-m-1.5 p-1.5 flex">
      <svg width="64" height="44" viewBox="0 0 64 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="line"
          d="M6.03774 2.3999H43.5746C52.9851 2.3999 57.6903 2.3999 60.1045 5.46659C62.5187 8.53329 61.4141 13.107 59.2049 22.2544L57.3113 30.0951C55.8849 36.0014 55.1717 38.9546 52.9835 40.6772C50.7953 42.3999 47.7572 42.3999 41.6811 42.3999H18.6889C10.0002 42.3999 5.65575 42.3999 3.24994 39.6037C0.844136 36.8075 1.49255 32.5118 2.78937 23.9203L6.03774 2.3999Z"
          stroke="currentColor" stroke-width="1.8" />
        <path class="line" fill-rule="evenodd" clip-rule="evenodd"
          d="M39.7456 10.6449L38.633 24.2026C37.8012 31.603 31.4846 37.0577 24.1654 36.4571C16.7802 35.8511 11.2878 29.336 11.8976 21.9051L13.0017 8.45028L19.6877 8.99893L18.5835 22.4537C18.2787 26.1692 21.0248 29.4267 24.7175 29.7297C28.3456 30.0275 31.5126 27.3074 31.9599 23.4972L33.0596 10.0962L39.7456 10.6449Z"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line"
          d="M39.6041 14.0487C41.327 12.9001 45.9885 11.9583 48.2183 14.6228C48.5519 15.1334 49.0843 15.7245 49.3668 15.7716C52.8124 16.346 53.961 12.3263 52.8124 11.1774C51.6639 10.0285 51.6639 10.0288 51.6639 10.0288C46.8394 4.86026 38.4556 6.5832 33.0705 9.48908"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line" fill-rule="evenodd" clip-rule="evenodd"
          d="M45.857 20.6169C46.5115 20.6166 47.1519 20.8076 47.6993 21.1665C48.2467 21.5254 48.6772 22.0364 48.938 22.6367C49.1987 23.2371 49.2783 23.9006 49.1669 24.5455C49.0555 25.1905 48.758 25.7889 48.311 26.267C47.864 26.7451 47.287 27.0821 46.6509 27.2366C46.0149 27.3911 45.3476 27.3562 44.7311 27.1364C44.1146 26.9166 43.5758 26.5214 43.1809 25.9993C42.7861 25.4773 42.5525 24.8512 42.5089 24.1981V23.7502C42.6206 22.0045 44.0753 20.6169 45.857 20.6169Z"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        <path class="line" d="M33.1111 9.97146L30.7795 36.8487L37.4614 37.4283L39.795 10.5294L33.113 9.94971"
          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <h1 class="font-display text-[1.70rem] font-black italic my-1">
        Unamba <span class="relative bg-white px-2 text-[#155FFC]" style="
            clip-path: polygon(8% 15%, 100% 15%, 93% 90%, 0% 90%);
            mask-image: radial-gradient(circle, rgba(0,0,0,1) 75%, rgba(0,0,0,0) 100%);
          ">
          forum
        </span>
      </h1>
    </a>
    <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700" (click)="toggleMenu()">
      <span class="sr-only">Cerrar menú</span>
      <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <div class="mt-6 flow-root">
    <div class="-my-6 divide-y divide-gray-500/10">
      <div class="space-y-2 py-6">
        <ng-container *ngIf="!isLoggedIn">
          <div class="flex flex-col items-center justify-center space-y-2">
            <button class="px-4 py-2 rounded hover:text-blue-600 cursor-pointer w-full" (click)="navigateToLogin()">
              Iniciar sesión
            </button>
            <button class="text-white bg-secondary-blue px-4 py-2 cursor-pointer rounded w-full hover:bg-gray-300"
              (click)="navigateToRegister()">
              Registrarse
            </button>
          </div>
        </ng-container>
        <a href="#"
          class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Inicio</a>
        <ng-container *ngIf="isLoggedIn">
          <a href="#"
            class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Nuevo</a>
        </ng-container>

        <div class="-mx-3">
          <button type="button"
            class="flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"
            aria-controls="disclosure-1" aria-expanded="false">
            Carreras
            <svg class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd"
                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                clip-rule="evenodd" />
            </svg>
          </button>

          <!-- Contenedor de Carreras con scroll vertical -->
          <div class="mt-2 space-y-2 max-h-[300px] overflow-y-auto" id="disclosure-1">
            <div *ngFor="let c of career"
              class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm hover:bg-gray-50">
              <div
                class="flex size-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                <img [src]="c.logo" [alt]="c.nombre">
              </div>
              <div class="flex-auto">
                <a class="block font-semibold text-gray-600 cursor-pointer" (click)="navigateToCareer(c.idCarrera)">
                  {{c.nombre}}
                  <span class="absolute inset-0"></span>
                </a>
                <p class="mt-1 text-gray-600">{{c.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="py-6">
        <ng-container *ngIf="isLoggedIn">
          <div class="flex items-center gap-4">
            <img *ngIf="userProfile?.fotoPerfil" [src]="userProfile.fotoPerfil" alt="Foto de perfil"
              class="w-10 h-10 rounded-full" />
            <span class="font-medium">{{ userProfile?.nombre }} {{ userProfile?.apellidos }}</span>
          </div>
        </ng-container>

      </div>

    </div>
  </div>
</div>