<div class="flex gap-2 mt-4 xl:ml-4">
  <a (click)="navigateToProfileUser(userProfile.idUsuario)">
    <span class="relative flex h-10 w-10 shrink-0 overflow-hidden rounded-full">
      <img [src]="userProfile?.fotoPerfil || '/assets/img/profile/avatar-perfil-uf.avif'"
        class="w-full h-full object-cover rounded-full hover-img-avatar"
        alt="avatar-usuario-logueado(que va a responder)" (mouseenter)="showHoverModal(userProfile.idUsuario, $event)"
        (mouseleave)="hideHoverModal()">
    </span>
  </a>

  <!-- Contenedor del comentario -->
  <div class="flex-1 flex flex-col gap-2">
    <div class="relative">
      <!-- Textarea -->
      <textarea [(ngModel)]="newResponseContent" (input)="enforceMentionForComment()" (click)="handleTextareaClick()"
      (click)="handleTextareaClick()"
        class="w-full border border-gray-300 rounded-lg p-2 min-h-20 text-sm focus:outline-none focus:ring-2 focus:ring-primary-blue placeholder-gray-500 pr-20 hover:border-gray-400"
        placeholder="Escribe una respuesta..."></textarea>

      <!-- Botones dentro del textarea -->
      <div *ngIf="isLoggedIn" class="absolute bottom-3 right-4 flex gap-2">
        <!-- Botón de emojis -->
        <button type="button" class="text-gray-500 p-1 hover:text-gray-700 hover:bg-gray-100 hover:rounded-sm"
          (click)="toggleEmojiPicker()" title="Agregar emoji" [ngClass]="{'bg-gray-200 rounded-md': showEmojiPicker}">
          <svg width="24" height="24" viewBox="0 0 24 24">
            <use xlink:href="/assets/sprite.svg#addemoji" />
        </svg>
        </button>
        <app-login-modal *ngIf="isLoginModalVisible"></app-login-modal>
        <!-- Botón de cancelar -->
        <button type="button" class="text-gray-500 text-sm hover:text-gray-700 border border-gray-300 px-2 py-1 rounded"
          (click)="closeResponses()">
          Cancelar
        </button>

        <!-- Botón de responder -->
        <button type="button" class="bg-blue-600 text-white text-sm px-2 py-1 rounded hover:bg-blue-700"
          (click)="addResponse()">
          Responder
        </button>

      </div>
      <div *ngIf="showEmojiPicker" class="absolute bottom-12 right-0 bg-white shadow-lg rounded-lg z-50">
        <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
      </div>
    </div>

    <!-- Contenedor de respuestas registradas(si no las hay no se muestra)-->
    <div class="mt-1 border-t border-gray-300 pt-1" *ngFor="let response of responses">
      <div class="flex gap-2 mt-2">
        <a (click)="navigateToProfileUser(response.idUsuario)">
          <span class="relative flex h-8 w-8 shrink-0 overflow-hidden rounded-full">
            <img [src]="response.avatar || '/assets/img/profile/avatar-perfil-uf.avif'" alt="avatar" class="w-full h-full object-cover rounded-full hover-img-avatar"
              (mouseenter)="showHoverModal(response.idUsuario, $event)" (mouseleave)="hideHoverModal()" />
          </span>
        </a>

        <div class="flex-1">
          <div class="flex items-center justify-between">
            <a (click)="navigateToProfileUser(response.idUsuario)">
              <span class="text-sm font-semibold hover:underline">{{ response.nombreCompleto }}</span>
            </a>
            <span class="text-xs text-gray-500">{{ response.fechaRegistro | date: 'short' }}</span>
          </div>
          <p class="text-xs text-black break-words">
            <span *ngIf="response.contenido.startsWith('@')" class="text-blue-500 font-semibold">
              {{ response.contenido.split(' ')[0] }}
            </span>
            {{ response.contenido.substring(response.contenido.indexOf(' ') + 1) }}
          </p>
          <!-- Botón para responder a una respuesta -->
          <button class="text-blue-500 text-xs hover:underline" (click)="handleReplyToResponse(response)">
            Responder
          </button>

          <div *ngIf="selectedResponseId === response.idRespuesta" class="relative mt-4">
            <!-- Textarea -->
            <textarea [(ngModel)]="responseContents[response.idRespuesta]"
              (input)="enforceMention(response.idRespuesta, response.nombreCompleto)" (click)="handleTextareaClick()"
              class="w-full border border-gray-300 rounded-lg p-2 min-h-20 text-sm focus:outline-none focus:ring-2 focus:ring-primary-blue placeholder-gray-500 pr-20 hover:border-gray-400"
              placeholder="Escribe una respuesta..."></textarea>

            <!-- Botones dentro del textarea -->
            <div *ngIf="isLoggedIn" class="absolute bottom-3 right-4 flex gap-2">
              <!-- Botón de emojis -->
              <button type="button" class="text-gray-500 hover:text-gray-700" (click)="toggleEmojiPicker()" [ngClass]="{'bg-gray-200 rounded-md': showEmojiPicker}"
                title="Agregar emoji">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <use xlink:href="/assets/sprite.svg#addemoji" />
              </svg>
              </button>

              <!-- Botón de cancelar -->
              <button type="button"
                class="text-gray-500 text-sm hover:text-gray-700 border border-gray-300 px-2 py-1 rounded"
                (click)="selectedResponseId = null">
                Cancelar
              </button>

              <!-- Botón de responder -->
              <button type="button" class="bg-blue-600 text-white text-sm px-2 py-1 rounded hover:bg-blue-700"
                (click)="addResponse(response.idRespuesta)">
                Responder
              </button>
            </div>

            <div *ngIf="showEmojiPicker" class="absolute bottom-12 right-0 bg-white shadow-lg rounded-lg z-50">
              <emoji-picker (emoji-click)="addEmoji($event)"></emoji-picker>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<app-hover-avatar *ngIf="isHoverModalVisible" [profileData]="hoverProfileData" [position]="hoverPosition"
  (mouseenter)="onModalMouseEnter()" (mouseleave)="onModalMouseLeave()"></app-hover-avatar>
  <app-complete-info-register-google *ngIf="isInfoCompleteModalVisible$ | async"></app-complete-info-register-google>