<div class="flex items-center gap-2 lg:gap-3 text-sm text-gray-500 mb-3 mt-5">
  <div *ngFor="let reaccion of reacciones"
    class="flex items-center gap-1 hover:bg-gray-200 hover:rounded-md transition-transform duration-300 transform hover:scale-110 cursor-pointer"
    (mouseenter)="onHoverReaction(reaccion.tipo, $event)" (mouseleave)="onLeaveReaction()">
    <img [src]="'/assets/icons/publication/' + reaccion.tipo + '.png'" [alt]="reaccion.tipo" class="w-5 h-5 lg:h-6 lg:w-6">
    <span>{{ reaccion.cantidad }}</span>
  </div>

  <div *ngIf="totalComentarios > 0" class="flex items-center gap-1 ml-auto cursor-pointer hover:text-gray-600 hover:underline" (mouseenter) ="onHoverComments($event)" (click)="navigateToDetailAndFocusComment()"
    (mouseleave)="onLeaveComments()">
    <svg class="w-5 h-5 lg:h-6 lg:w-6" viewBox="0 0 24 24">
      <use xlink:href="/assets/sprite.svg#totalcomments" />
    </svg>
    <span>{{ totalComentarios }}</span>
  </div>
</div>