<div class="border border-gray-200 rounded-lg p-5 mb-5 bg-white" >
    <div class="space-y-2 relative">
        <h3 class="text-gray-800 font-semibold text-md">Categorías</h3>
        <select
            class="w-full border border-gray-300 rounded-lg py-2 px-3 cursor-pointer  text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-100 appearance-none">
            <option>Todas</option>
            <option>Proyectos</option>
            <option>Eventos</option>
            <option>Ofertas</option>
            <option>Noticias</option>
        </select>
        <svg viewBox="0 0 16 16" fill="currentColor"
        aria-hidden="true"
        class="absolute right-2 top-11 w-5 h-5 text-gray-500 pointer-events-none">
            <use xlink:href="/assets/sprite.svg#select" />
        </svg>
    </div>
</div>