<app-header></app-header>
<div *ngIf="alert" [ngClass]="{
  'bg-green-50 text-green-800 border border-green-100': alert.type === 'success',
      'bg-red-50 text-red-800 border border-red-100': alert.type === 'error',
      'bg-yellow-50 text-yellow-800 border border-yellow-100': alert.type === 'warning'
    }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg z-50 w-auto" role="alert">
  <svg *ngIf="alert.type === 'success'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
    fill="currentColor" viewBox="0 0 20 20">
    <path
      d="M16.707 5.293a1 1 0 0 0-1.414 0L9 11.586 6.707 9.293a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 0-1.414Z" />
  </svg>
  <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
    <use xlink:href="/assets/sprite.svg#error" />
  </svg>
  <svg *ngIf="alert.type === 'warning'" class="shrink-0 w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
    <use xlink:href="/assets/sprite.svg#alert" />
  </svg>
  <span class="text-sm font-medium">{{ alert.message }}</span>
</div>
<div class="container mx-auto p-0 xl:px-8">
  <div (click)="openPhotoSlider([{ tipo: 'imagen', rutaArchivo: userProfile?.fotoPortada }], 0)"
    class="relative bg-yellow-500 rounded-b-3xl h-65 md:rounded-b-2xl cursor-pointer z-10"
    [style.backgroundImage]="'url(' + userProfile?.fotoPortada + ')'"
    style="background-size: cover; background-position: center;">
    <button *ngIf="currentUserId === userId" (click)="openEditPhotoFrontPageModal(); $event.stopPropagation()"
      title="Editar foto de portada"
      class="absolute top-28 right-8 bg-black-50 text-white px-4 py-2 rounded-full text-sm flex items-center gap-2 hover:bg-black/70">
      <svg width="24" height="24" viewBox="0 0 20 20">
        <use xlink:href="/assets/sprite.svg#camerarelleno" />
      </svg>
      Editar portada
    </button>
  </div>

  <div class="bg-white shadow-md rounded-xl p-10 -mt-23 mx-8 relative flex flex-col md:flex-row md:items-center justify-between gap-6 z-10">
    <!-- Info usuario -->
    <div class="flex flex-col sm:flex-row items-start sm:items-center gap-5">
      <div class="relative shrink-0">
        <img [src]="userProfile?.fotoPerfil" alt="Foto de perfil"
          class="w-30 h-30 rounded-full object-cover cursor-pointer transition-opacity hover:opacity-90"
          (click)="openPhotoSlider([{ tipo: 'imagen', rutaArchivo: userProfile?.fotoPerfil }], 0)" />

        <div *ngIf="currentUserId === userId">
          <div class="absolute -bottom-0.5 -right-1 bg-black bg-opacity-80 text-white rounded-full p-2">
            <button (click)="openEditPhotoModal()"
              class="w-7 h-7 flex items-center justify-center rounded-full bg-black hover:bg-black/70 transition"
              title="Editar foto de perfil">
              <svg width="24" height="24" viewBox="0 0 20 20">
                <use xlink:href="/assets/sprite.svg#camera" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center gap-2">
          <h2 class="text-xl font-semibold text-subtitle">{{ userProfile?.nombreCompleto }}</h2>
          <ng-container *ngIf="userProfile.rol === 'ADMINISTRADOR'">
            <svg width="20" height="20" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#verified" />
            </svg>
          </ng-container>
        </div>
        <p class="text-sm text-gray-600 max-w-xl mt-1 text-justify">{{ userProfile?.descripcion }}</p>
        <div class="flex gap-6 mt-3 text-sm text-gray-700">
          <span class="cursor-pointer hover:text-black transition-all duration-300"
            (click)="openFollowerModal()"><strong>{{ userProfile?.totalFollowers }}</strong>
            Seguidores</span>
          <span class="cursor-pointer hover:text-black transition-all duration-300"
            (click)="openFollowingModal()"><strong>{{ userProfile?.totalFollowing }}</strong> Siguiendo</span>
        </div>
      </div>
    </div>

    <div *ngIf="currentUserId === userId" class="xl:self-start">
      <button class="w-full justify-center bg-secondary-blue hover:bg-hover-secondary-blue text-white px-4 py-2 rounded-lg text-sm flex items-center gap-2" (click)="navigateToEditProfile()"
        title="Editar perfil">
        <svg class="w-4 h-4" viewBox="0 0 32 32">
          <use xlink:href="/assets/sprite.svg#editpencil" />
        </svg>
        Editar perfil
      </button>
    </div>

    <div *ngIf="currentUserId !== userId && isLoggedIn" class="xl:self-start">
      <button *ngIf="!isFollowing" (click)="followUser()"
        class="w-full justify-center bg-secondary-blue hover:bg-hover-secondary-blue text-white px-4 py-2 rounded-lg text-sm flex items-center gap-1 lg:gap-2"
        title="Seguir usuario">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="/assets/sprite.svg#following" />
        </svg>
        Seguir
      </button>
      <button *ngIf="isFollowing" (click)="unfollowUser()"
        class="w-full justify-center border border-gray-300 hover:bg-gray-50 hover:border-gray-400 text-black px-4 py-2 rounded-lg text-sm flex items-center gap-1 lg:gap-2"
        title="Dejar de seguir usuario">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="/assets/sprite.svg#unfollowing" />
        </svg>
        Dejar de seguir
      </button>
    </div>
  </div>

  <!-- Contenedor de columnas -->
  <div class="mt-15 mb-30 grid grid-cols-1 lg:grid-cols-[1fr_1.2fr_1fr] gap-6 items-start">
    <aside class="border border-gray-200 rounded-xl p-5 lg:sticky lg:top-28 bg-white">
      <h2 class="font-semibold text-lg mb-4 text-subtitle">Detalles</h2>
      <ul class="space-y-3 text-sm text-gray-700">
        <app-detail [userDetails]="userDetails"></app-detail>
      </ul>
    </aside>

    <div class="flex flex-col gap-4">
      <ng-container *ngIf="userPublications.length > 0; else noPublications">
        <div *ngFor="let publication of userPublications"
          class="border border-gray-200 bg-white rounded-xl hover:shadow-md p-4 space-y-4 hover:border-gray-300 transition-all duration-300 ease-in-out">
          <div class="relative">
            <div *ngIf="publication.fijada" class="absolute -top-6 right-0 text-gray-500">
              <svg width="20" height="20" viewBox="0 0 16 16">
                <use xlink:href="/assets/sprite.svg#fixed" />
              </svg>
            </div>
          </div>
          <div class="flex items-center gap-3">
            <a (click)="navigateToProfileUser(publication.idUsuario)">
              <img [src]="publication.avatar" alt="Avatar"
                class="w-10 h-10 rounded-full transition-opacity hover:opacity-90"
                (mouseenter)="showHoverModal(publication.idUsuario, $event)" (mouseleave)="hideHoverModal()" />
            </a>
            <div class="flex-1">
              <div class="flex items-center gap-2">
                <a (click)="navigateToProfileUser(publication.idUsuario)">
                  <h3 class="text-sm font-semibold text-gray-800 hover:underline transition-all duration-300">{{
                    publication.nombreCompleto }}</h3>
                </a>
                <ng-container *ngIf="userProfile?.rol === 'ADMINISTRADOR'">
                  <svg width="20" height="20" viewBox="0 0 24 24">
                    <use xlink:href="/assets/sprite.svg#verified" />
                  </svg>
                </ng-container>
              </div>
              <div class="flex items-center gap-2">
                <p class="text-xs text-gray-500 w-30 sm:w-40 xl:w-50 truncate">{{ publication.nombreCarrera }}</p>
                <div class="flex items-center gap-1 ml-auto">
                  <span class="text-xs bg-gray-100 text-gray-600 px-2 py-1 rounded-full">{{ publication.nombreCategoria
                    }}</span>
                  <span class="text-xs text-gray-400">• {{ getTimeElapsedWrapper(publication.fechaRegistro) }}</span>
                </div>
              </div>
            </div>

            <div class="relative inline-block text-left"
              *ngIf="isCurrentUserAdmin || publication.idUsuario === currentUserId">
              <div>
                <button type="button" id="option-publication"
                  class="hover:bg-gray-100 p-1 rounded-lg transition-colors duration-300" [ngClass]="{
              'text-gray-500': !publication.isDropdownVisible,
              'text-gray-600 bg-gray-200': publication.isDropdownVisible
            }" aria-expanded="true" aria-haspopup="true" (click)="toggleDropdown(publication)">
                  <svg width="24" height="24" viewBox="0 0 24 24">
                    <use xlink:href="/assets/sprite.svg#threedots" />
                  </svg>
                </button>
              </div>
              <div *ngIf="publication.isDropdownVisible" class="fixed inset-0 z-40"
                (click)="closeDropdown(publication)"></div>

              <div *ngIf="publication.isDropdownVisible"
                class="absolute right-0 z-50 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-hidden">
                <div class="py-1">
                  <!-- Opciones para el administrador -->
                  <ng-container *ngIf="isCurrentUserAdmin">
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300"
                      (click)="openDeleteModal(publication)">Eliminar</a>
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300"
                      (click)="navigateToEditPublication(publication.idPublicacion)">Actualizar</a>
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300"
                      (click)="toggleFixPublication(publication)">{{ publication.fijada ? 'Desfijar' : 'Fijar' }}</a>
                  </ng-container>

                  <!-- Opciones para el propietario de la publicación -->
                  <ng-container *ngIf="publication.idUsuario === currentUserId && !isCurrentUserAdmin">
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300"
                      (click)="openDeleteModal(publication)">Eliminar</a>
                    <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-300"
                      (click)="navigateToEditPublication(publication.idPublicacion)">Actualizar</a>
                  </ng-container>
                </div>
              </div>
            </div>

          </div>

          <app-hover-avatar *ngIf="isHoverModalVisible" [profileData]="hoverProfileData" [position]="hoverPosition"
            (mouseenter)="onModalMouseEnter()" (mouseleave)="onModalMouseLeave()"></app-hover-avatar>

          <div *ngIf="publication.archivos.length > 0" class="w-full overflow-hidden">
            <div class="group relative h-[260px]">
              <div
                class="flex gap-4 overflow-hidden group-hover:overflow-x-auto group-hover:scrollbar-thin group-hover:scrollbar-thumb-blue-500 py-4 h-full">
                <ng-container *ngIf="publication.archivos.length === 1">
                  <figure *ngFor="let archivo of publication.archivos ; let i = index" class="shrink-0 w-full">
                    <div class="overflow-hidden rounded-md">
                      <img *ngIf="archivo.tipo === 'imagen'" [src]="archivo.rutaArchivo" alt="Media"
                        class="aspect-square h-54 w-full object-cover"
                        (click)="openPhotoSlider(publication.archivos,i)" />

                      <img *ngIf="archivo.tipo === 'gif' && archivo.rutaArchivo.endsWith('.gif')"
                        [src]="archivo.rutaArchivo" alt="GIF" class="aspect-square h-54 w-full object-cover" />

                      <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-full object-cover"
                        (click)="openPhotoSlider(publication.archivos,i)">
                        <source [src]="archivo.rutaArchivo" type="video/mp4" />
                        Tu navegador no soporta la etiqueta de video.
                      </video>
                    </div>
                  </figure>
                </ng-container>

                <ng-container *ngIf="publication.archivos.length > 1">
                  <figure *ngFor="let archivo of publication.archivos; let i= index" class="shrink-0">
                    <div class="overflow-hidden rounded-md">
                      <img *ngIf="archivo.tipo === 'imagen'" [src]="archivo.rutaArchivo" alt="media"
                        class="aspect-square h-54 w-54 object-cover"
                        (click)="openPhotoSlider(publication.archivos,i)" />
                      <img *ngIf="archivo.tipo === 'gif' && archivo.rutaArchivo.endsWith('.gif')"
                        [src]="archivo.rutaArchivo" alt="GIF" class="aspect-square h-54 w-full object-cover" />

                      <video *ngIf="archivo.tipo === 'video'" controls class="aspect-square h-54 w-54 object-cover"
                        (click)="openPhotoSlider(publication.archivos,i)">
                        <source [src]="archivo.rutaArchivo" type="video/mp4" />
                        Tu navegador no soporta la etiqueta de video.
                      </video>
                    </div>
                  </figure>
                </ng-container>
              </div>
            </div>
          </div>

          <!-- Contenido publicación -->
          <div>
            <a (click)="navigateToDetailPublication(publication.idPublicacion)" title="Ver mas..." class="group">
              <h4
                class="group-hover:text-secondary-blue font-semibold truncate text-gray-900 text-sm w-80 sm:w-120 xl:w-100">
                {{ publication.titulo }}
              </h4>
              <p class="text-gray-600 text-sm mt-1 truncate w-80 sm:w-120 xl:w-100" [innerHTML]="publication.contenido">
              </p>
            </a>
          </div>
          <app-modal-users-by-reaction-type *ngIf="publication.isReactionModalVisible"
            [reactionType]="publication.reactionType" [users]="publication.reactionUsers"
            [position]="publication.hoverPosition" (mouseenter)="onModalMouseEnter()"
            (mouseleave)="onModalMouseLeaveReaction(publication)">
          </app-modal-users-by-reaction-type>

          <app-totals-reaction-comment [idPublicacion]="publication.idPublicacion"
            [totalComentarios]="publication.totalComentarios" (hoverReaction)="openReactionHover($event, publication)"
            (leaveReaction)="closeReactionHover(publication)" (hoverComments)="openCommentHover($event, publication)"
            (leaveComments)="closeCommentHover(publication)">
          </app-totals-reaction-comment>

          <app-modal-user-comment-publication *ngIf="publication.isCommentModalVisible"
            [usersComment]="publication.usersComment" [position]="publication.commentHoverPosition"
            (mouseenter)="onModalMouseEnter()" (mouseleave)="onModalMouseLeaveComment(publication)">
          </app-modal-user-comment-publication>

          <app-reaction [idUsuario]="currentUserId ?? ''" [idPublicacion]="publication.idPublicacion"></app-reaction>
        </div>
      </ng-container>
      <ng-template #noPublications>
        <div class="text-center text-gray-500 mt-4">
          <p>No tienes ninguna publicación.</p>
        </div>
      </ng-template>
    </div>

    <!-- Columna derecha (Sugerencias) -->
    <div class="border border-gray-200 bg-white rounded-xl p-5 xl:sticky xl:top-28">
      <app-suggestion [suggestedUsers]="suggestedUsers"></app-suggestion>
    </div>
  </div>

  <app-modal-follower *ngIf="isFollowerModalVisible" [followers]="followers" (close)="closeFollowerModal()">
  </app-modal-follower>

  <app-modal-following *ngIf="isFollowingModalVisible" [followings]="followings" (close)="closeFollowingModal()">
  </app-modal-following>

  <app-edit-photo-profile *ngIf="isEditPhotoModalVisible" [photoUrl]="userProfile?.fotoPerfil"
    (close)="closeEditPhotoModal()" (success)="handlePhotoUpdateSuccess($event)">
  </app-edit-photo-profile>

  <app-edit-front-page *ngIf="isEditPhotoFrontPageModalVisible" [photoFrontPageUrl]="userProfile?.fotoPortada"
    (close)="closeEditPhotoFrontPageModal()" (success)="handlePhotoUpdateSuccess($event)">
  </app-edit-front-page>

  <app-photo-slider *ngIf="isPhotoSliderVisible" [photos]="selectedPhotos" (close)="closePhotoSlider()"
    [initialIndex]="selectedPhotoIndex"></app-photo-slider>

  <app-login-modal *ngIf="isLoginModalVisible$ | async"></app-login-modal>

  <app-complete-info-register-google *ngIf="isInfoCompleteModalVisible$ | async"></app-complete-info-register-google>

</div>

<div *ngIf="isDeleteModalVisible" class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div
              class="mx-auto flex h-12 w-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <use xlink:href="/assets/sprite.svg#alert" />
              </svg>
            </div>
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-base font-semibold text-gray-900" id="modal-title">Eliminar publicación</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">¿Estás seguro de que deseas eliminar esta publicación? Esta acción no
                  se puede deshacer.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
          <button type="button"
            class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto"
            (click)="confirmDelete()">Eliminar</button>
          <button type="button"
            class="mt-3 inline-flex w-full justify-center rounded-md px-4 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:ring-gray-400 sm:mt-0 sm:w-auto"
            (click)="closeDeleteModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
