<div class="fixed inset-0 bg-[rgba(0,0,0,0.1)] z-40" (click)="closeModal()"></div>
<div
  class="fixed bottom-0 left-0 w-full h-[65vh] bg-[url('/assets/img/oauth/backgound-modal-services.svg')] bg-cover bg-no-repeat bg-center shadow-xl rounded-t-3xl px-6 py-8 overflow-auto z-50">
  <button (click)="closeModal()" class="absolute top-4 right-4 text-white hover:text-gray-200">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>

  <div *ngIf="alert" [ngClass]="{
    'bg-green-50 text-green-800': alert.type === 'success',
    'bg-red-50 text-red-800': alert.type === 'error'
  }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg" role="alert">
    <svg *ngIf="alert.type === 'success'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M16.707 5.293a1 1 0 0 0-1.414 0L9 11.586 6.707 9.293a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 0-1.414Z" />
    </svg>
    <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 20 20">
      <use xlink:href="/assets/sprite.svg#error" />
    </svg>
    <span class="text-sm font-medium">{{ alert.message }}</span>
  </div>

  <div class="max-w-xl mx-auto bg-white p-6 lg:p-7 xl:pt-10 rounded-lg shadow-lg">

    <h2 class="text-xl font-semibold text-center mb-6 xl:text-2xl">Iniciar sesión</h2>
    <form (ngSubmit)="login()">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" [(ngModel)]="loginData.email" name="email" id="email"
          class="block py-3 px-0 w-full text-sm text-[#1D242F] bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input [type]="showPassword ? 'text' : 'password'" type="password" [(ngModel)]="loginData.contrasenha" name="contrasenha" id="contrasenha"
          class="block py-3 px-0 w-full text-sm text-[#1D242F] bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="contrasenha"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>

        <button *ngIf="loginData.contrasenha?.trim()" type="button"
          class="absolute right-0 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
          (click)="togglePasswordVisibility()">
          <ng-container *ngIf="showPassword">
            <!-- Icono para ocultar contraseña -->
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#eyeslash" />
            </svg>
          </ng-container>
          <ng-container *ngIf="!showPassword">
            <!-- Icono para mostrar contraseña -->
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#eye" />
            </svg>
          </ng-container>
        </button>
      </div>

      <button
        class="w-full bg-secondary-blue mt-6 text-white py-3 rounded hover:bg-hover-secondary-blue flex items-center justify-center gap-2"
        [disabled]="isLoggingIn">
        <ng-container *ngIf="!isLoggingIn">Iniciar sesión</ng-container>
        <ng-container *ngIf="isLoggingIn">
          Iniciando sesión...
          <svg class="animate-spin" width="24" height="24" viewBox="0 0 36 36" version="1.1" aria-hidden="true"
            data-icon="spin">
            <use xlink:href="/assets/sprite.svg#spinner" />
          </svg>
        </ng-container>
      </button>
    </form>

    <div class="text-center my-4 relative">
      <span class="absolute left-0 right-0 top-1/2 bg-[#D6E4FF] h-px"></span>
      <span class="relative bg-white px-3 text-gray-500 text-sm">O continuar con</span>
    </div>

    <button (click)="initiateGoogleLogin()"
      class="w-full flex items-center justify-center gap-2 border py-3 border-gray-200 text-gray-600 bg-white hover:bg-[#D3E4FF] rounded-md transition">

      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
        <use xlink:href="/assets/sprite.svg#google" />
      </svg> Iniciar sesión con Google
    </button>

    <p class="text-center mt-6 text-sm">
      ¿No tienes una cuenta?
      <a href="/register" class="text-secondary-blue font-semibold underline">Regístrate</a>
    </p>
  </div>
</div>