<div class="PhotoView-Portal fixed inset-0 z-50 flex flex-col items-center justify-center bg-black transition-all duration-500"
  role="dialog" (wheel)="onWheel($event)">
  <div class="absolute inset-0" (click)="closeSlider()"></div>

  <div class="absolute z-10 top-4 w-full px-6 container mx-auto flex justify-between items-center text-white text-md">
    <div class="backdrop-blur-sm px-3 py-1 rounded-lg bg-black-50">{{ currentIndex + 1 }} / {{ photos.length }}</div>
    <button (click)="closeSlider()"
      class="hover:scale-110 transition-transform w-8 h-8 rounded-full flex items-center justify-center shadow-lg">
      ✕
    </button>
  </div>

  <!-- Arrows -->
  <div class="absolute left-6 z-10 text-white cursor-pointer" (click)="prev()">
    <div class="p-2 rounded-full hover:bg-white/20 transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
        <path fill="currentColor"
          d="M685.248 104.704a64 64 0 0 1 0 90.496L368.448 512l316.8 316.8a64 64 0 0 1-90.496 90.496L232.704 557.248a64 64 0 0 1 0-90.496l362.048-362.048a64 64 0 0 1 90.496 0" />
      </svg>
    </div>
  </div>

  <div class="absolute right-6 z-10 text-white cursor-pointer" (click)="next()">
    <div class="p-2 rounded-full hover:bg-white/20 transition-all">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 1024 1024">
        <path fill="currentColor"
          d="M338.752 104.704a64 64 0 0 0 0 90.496l316.8 316.8l-316.8 316.8a64 64 0 0 0 90.496 90.496l362.048-362.048a64 64 0 0 0 0-90.496L429.248 104.704a64 64 0 0 0-90.496 0" />
      </svg>
    </div>
  </div>

  <div class="flex gap-3 justify-center">
    <div class="relative w-full h-full" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()">
      <ng-container *ngIf="currentPhoto">
        <img *ngIf="currentPhoto.tipo === 'imagen'" [src]="currentPhoto.rutaArchivo"
          class="max-h-full w-auto max-w-full object-contain transition-transform duration-300 ease-in-out"
          [class.cursor-grab]="!isDragging && !isZoomed" [class.cursor-grabbing]="isDragging"
          [style.transform]="'scale(' + scale + ') translate(' + translateX + 'px, ' + translateY + 'px)'"
          (click)="handleImageClick($event)" />

        <img *ngIf="currentPhoto.tipo === 'gif'" [src]="currentPhoto.rutaArchivo"
          class="max-h-full w-auto max-w-full object-contain transition-transform duration-300 ease-in-out"
          [class.cursor-grab]="!isDragging && !isZoomed" [class.cursor-grabbing]="isDragging"
          [style.transform]="'scale(' + scale + ') translate(' + translateX + 'px, ' + translateY + 'px)'"
          (click)="handleImageClick($event)" />

        <video *ngIf="currentPhoto.tipo === 'video'" controls autoplay
          class="max-h-full object-contain transition-all duration-500">
          <source [src]="currentPhoto.rutaArchivo" type="video/mp4" />
          Tu navegador no soporta la etiqueta de video.
        </video>
      </ng-container>
    </div>
  </div>

  <!-- Mini Carousel -->
  <div class="absolute bottom-6 left-1/2 -translate-x-1/2 w-full max-w-4xl px-4">
    <div class="flex gap-3 overflow-x-auto py-2 px-2 bg-black/30 rounded-lg backdrop-blur-sm justify-center">
      <div *ngFor="let photo of photos; let i = index"
        class="cursor-pointer shrink-0 hover:scale-105 transition-transform">
        <img *ngIf="photo.tipo === 'imagen'" [src]="photo.rutaArchivo" alt="Preview"
          class="h-20 w-20 object-cover rounded-sm border-2 transition-all duration-300" [ngClass]="{
        'border-blue-500': i === currentIndex,
        'border-gray-500 opacity-60 hover:opacity-100': i !== currentIndex
      }" (click)="currentIndex = i" />

        <img *ngIf="photo.tipo === 'gif'" [src]="photo.rutaArchivo" alt="Preview"
          class="h-20 w-20 object-cover rounded-sm border-2 transition-all duration-300" [ngClass]="{
        'border-blue-500': i === currentIndex,
        'border-gray-500 opacity-60 hover:opacity-100': i !== currentIndex
      }" (click)="currentIndex = i" />

        <video *ngIf="photo.tipo === 'video'"
          class="h-20 w-20 object-cover rounded-sm border-2 transition-all duration-300" [ngClass]="{
        'border-blue-500': i === currentIndex,
        'border-gray-500 opacity-60 hover:opacity-100': i !== currentIndex
      }" (click)="currentIndex = i">
          <source [src]="photo.rutaArchivo" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>
</div>