<div id="hero-section"
  class="min-h-screen bg-gradient-to-r from-[#155dfc] via-[#2b5d9c] to-[#2b7fff] pt-16 text-white text-center relative overflow-hidden sm:pt-15 md:pt-25 pb-50 mask-b-from-55% mask-b-to-93%">
  <div class="absolute left-0 right-0 bottom-45 flex justify-center pointer-events-none z-0">
    <canvas class="hero w-[200vw] sm:w-[90vw] md:w-[80vw] lg:w-[70vw] xl:w-[100vw] max-w-[1068px] aspect-[1068/600] h-auto"></canvas>
  </div>
  <div class="relative max-w-7xl mx-auto px-4 h-[350px] overflow-hidden pt-8 mb-10"
    style="mask-image: radial-gradient(circle, rgba(0,0,0,1) 65%, rgba(0,0,0,0) 100%);">
    <h1 class="text-3xl z-20 md:text-6xl font-extrabold leading-tight title text-shadow-md text-shadow-gray-700">
      Universidad Nacional Micaela <br>
      Bastidas de Apurímac -
      <span class="relative inline-block">
        <span class="foro-word">Foro</span>
        <svg class="absolute -left-3 -bottom-3 md:-bottom-4 w-[100px] h-[23px] md:w-[137px] md:h-[32px]"
          viewBox="0 0 137 32" fill="none">
          <use xlink:href="/assets/sprite.svg#ralla" />
        </svg>
      </span> Universitario
    </h1>
    <p class="mt-20 sm:mt-4 text-lg md:text-xl title text-shadow-lg text-shadow-gray-700">
      <span class="font-semibold">¡Únete, Comparte</span> y
      <span class="font-semibold">Aprende</span> en Nuestra Comunidad Universitaria!
    </p>
  </div>
       <img src="/assets/img/hero/post.webp"
       alt="Decoración UNAMBA"
       class="absolute bottom-35 post right-25 hidden xl:block xl:w-sm pointer-events-none select-none rotate-6" />
</div>
