<div
  class="bg-gradient-to-r from-[#155dfc] via-[#2b5d9c] to-[#2b7fff] py-16 text-white text-center relative overflow-hidden pt-20">
  <div class="max-w-4xl mx-auto px-4">
    <h1 class="text-3xl md:text-5xl font-extrabold leading-tight">
      Universidad Nacional Micaela <br>
      Bastidas de Apurímac -
      <span class="underline decoration-white decoration-4 underline-offset-4">Foro Universitario</span>
    </h1>
    <p class="mt-4 text-lg md:text-xl">
      <span class="font-semibold">¡Únete, Comparte</span> y
      <span class="font-semibold">Aprende</span> en Nuestra Comunidad Universitaria!
    </p>
  </div>
</div>