<div class="fixed inset-0 z-50 flex items-center justify-center bg-black-40">
  <div class="bg-white rounded-xl shadow-xl w-full max-w-xl p-8 relative animate-fadeIn overflow-y-auto max-h-[100vh]">
    <!-- Alerta -->
    <div *ngIf="alert" [ngClass]="{
        'bg-red-50 text-red-800': alert.type === 'error',
        'bg-yellow-50 text-yellow-800': alert.type === 'warning'
      }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg" role="alert">
      <svg *ngIf="alert.type === 'warning'" class="shrink-0 w-6 h-6 mr-2"
        fill="currentColor" viewBox="0 0 20 20">
        <use xlink:href="/assets/sprite.svg#alert" />
      </svg>
      <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2"
        fill="currentColor" viewBox="0 0 20 20">
        <use xlink:href="/assets/sprite.svg#error" />
      </svg>
      <span class="text-sm font-medium whitespace-pre-line">{{ alert.message }}</span>
    </div>

    <!-- Header -->
    <div class="flex items-center justify-between mb-2">
      <h2 class="text-xl font-semibold text-gray-800">Editar foto de portada</h2>
      <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700 text-xl font-bold">
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <use xlink:href="/assets/sprite.svg#close" />
          </svg>
      </button>
    </div>

    <!-- Subtitulo -->
    <p class="text-sm text-gray-600 mb-8">Sube una nueva imagen o elimina la actual.</p>

    <!-- Imagen principal -->
    <div class="relative flex justify-center mb-8">
      <div class="w-full h-50 rounded-md overflow-hidden relative">
        <img [src]="photoFrontPageUrl || 'https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png'"
          alt="Foto actual" class="w-full h-full object-cover" />
      </div>
      <button (click)="deletePhoto()"
        class="absolute top-1 right-1 bg-red-500 hover:bg-red-600 text-white text-xs p-1 rounded-sm"
        title="Eliminar foto">
        <svg width="24" height="24" viewBox="0 0 24 24">
          <use xlink:href="/assets/sprite.svg#delete" />
        </svg>
      </button>
    </div>

    <!-- Dropzone -->
    <div id="dropzone" class="dropzone mb-6 border border-dashed border-gray-300 rounded-md p-6 hover:border-gray-400 transition cursor-pointer">
      <div class="dz-default dz-message text-lg mb-5 flex flex-col items-center justify-center text-center">
        <svg width="64" height="64" viewBox="0 0 24 24">
            <use xlink:href="/assets/sprite.svg#uploadfile" />
        </svg>
        <div class="text-center">
          <p class="text-sm font-semibold text-gray-600">
           Arrastra una imagen o haz clic para subir
          </p>
          <span class="text-xs text-gray-500">
            Máx. 2MB | Formatos: JPEG, PNG, WEBP, JPG
          </span>
        </div>
      </div>
    </div>
    <!-- Acciones -->
    <div class="flex w-full mt-4 gap-2">
      <button (click)="updateFrontPage()" class="flex w-full bg-blue-500 hover:bg-blue-600 text-white text-sm py-2 rounded-md justify-center items-center" [disabled]="isUpdateFrontPageInProgress">
        <ng-container *ngIf="!isUpdateFrontPageInProgress">Guardar cambios</ng-container>
        <ng-container *ngIf="isUpdateFrontPageInProgress">
          Guardando... 
          <svg class="spinner" width="24" height="24" viewBox="0 0 36 36" version="1.1" aria-hidden="true" data-icon="spin"> 
               <use xlink:href="/assets/sprite.svg#spinner" />
          </svg>
        </ng-container>
      </button>
    </div>
  </div>
</div>