
/* Ocultar scrollbar en filtro de carreras */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */
  }


.selected-button {
  position: relative;
}

.selected-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 4px;
  background: linear-gradient(to right, #4f46e5, #3b82f6);
  border-radius: 9999px;
}
