
@keyframes search-bg-scroll {
  0% {
    border: 1px solid white;
  }
  100% {
    border: 1px solid black;
    color: black;
  }
}

.search-scroll-animate {
  animation: search-bg-scroll 0.3s linear both;
  animation-timeline: scroll();
  animation-range: 0 250px;
  transition: all 0.3s ease;
}

@keyframes placeholder-bg-scroll {
  0% {
    color:#dddddd;
  }
  100% {
    color: black;
  }
}
.placeholder-scroll-animate{
  animation: placeholder-bg-scroll 0.3s linear both;
  animation-timeline: scroll();
  animation-range: 0 250px;
  transition: all 0.3s ease;
}


@media (max-width: 650px) {
.hidden-borde{
  border: none !important;
  margin-left: -50px !important;

}

.hidden-borde svg{
  margin-left: -50px !important;
}
}
