<li *ngFor="let user of suggestedUsers" class="flex items-center justify-between mb-5">
  <div class="flex items-center gap-3">
    <img [src]="user.fotoPerfil" class="w-10 h-10 rounded-full object-cover" alt="Foto de perfil">
    <div class="text-sm">
      <a (click)="navigateToProfileUser(user.idUsuario)">
        <p class="font-medium leading-none mb-1">{{ user.nombre }} {{ user.apellidos }}</p>
      </a>
      <p class="text-gray-500 text-xs" title="{{ user.nombreCarrera }}">{{ user.nombreCarrera || 'Sin carrera' }}</p>
    </div>
  </div>
  <button class="bg-black text-white text-xs px-2 py-1 rounded-full">Seguir</button>
</li>