<div
  class="flex items-center justify-center min-h-screen bg-[#F3F4F6] bg-[url('/assets/img/oauth/grid.svg')] bg-cover bg-no-repeat bg-center bg-fixed">
  <div *ngIf="alert" [ngClass]="{
        'bg-green-50 text-green-800': alert.type === 'success',
        'bg-red-50 text-red-800': alert.type === 'error',
        'bg-yellow-50 text-yellow-800': alert.type === 'warning'
      }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg" role="alert">
    <svg *ngIf="alert.type === 'success'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M16.707 5.293a1 1 0 0 0-1.414 0L9 11.586 6.707 9.293a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 0-1.414Z" />
    </svg>
    <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0Zm1 15H9v-2h2Zm0-4H9V5h2Z" />
    </svg>
    <svg *ngIf="alert.type === 'warning'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M8.257 3.099c.765-1.36 2.721-1.36 3.486 0l6.518 11.6c.75 1.336-.213 3-1.743 3H3.482c-1.53 0-2.493-1.664-1.743-3l6.518-11.6ZM11 14a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-1-2a1 1 0 0 0 1-1V8a1 1 0 0 0-2 0v3a1 1 0 0 0 1 1Z" />
    </svg>
    <span class="text-sm font-medium">{{ alert.message }}</span>
  </div>

  <div class="bg-white p-12 pt-10 mt-5 mb-5 rounded-lg shadow-lg w-[30rem]">
    <h2 class="text-xl font-semibold text-center mb-6 xl:text-2xl">Crear una cuenta</h2>

    <form (ngSubmit)="register()">
      <div class="relative z-0 w-full mb-5 group">
        <input type="text" [(ngModel)]="registerData.nombre" name="nombre" id="nombre"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="nombre"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input [(ngModel)]="registerData.apellidos" name="apellidos" id="apellidos"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="apellidos"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Apellidos</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <select [(ngModel)]="registerData.idCarrera" name="idCarrera" id="idCarrera"
          class="block py-3 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          required>
          <option value="" disabled selected hidden>Seleccione una carrera</option>
          <option *ngFor="let c of career" [value]="c.idCarrera">{{ c.nombre }}</option>

        </select>
        <label for="idCarrera"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Carrera</label>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-500 pointer-events-none">
          <path fill-rule="evenodd"
            d="M5.22 10.22a.75.75 0 0 1 1.06 0L8 11.94l1.72-1.72a.75.75 0 1 1 1.06 1.06l-2.25 2.25a.75.75 0 0 1-1.06 0l-2.25-2.25a.75.75 0 0 1 0-1.06ZM10.78 5.78a.75.75 0 0 1-1.06 0L8 4.06 6.28 5.78a.75.75 0 0 1-1.06-1.06l2.25-2.25a.75.75 0 0 1 1.06 0l2.25 2.25a.75.75 0 0 1 0 1.06Z"
            clip-rule="evenodd"></path>
        </svg>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input type="email" [(ngModel)]="registerData.email" name="email" id="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input type="password" [(ngModel)]="registerData.contrasenha" name="contrasenha" id="contrasenha"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="contrasenha"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input type="password" [(ngModel)]="registerData.confirmarContrasenha" name="confirmarContrasenha"
          id="confirmarContrasenha"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="confirmarContrasenha"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Confirmar
          contraseña</label>
      </div>

      <button
        class="w-full bg-secondary-blue mt-6 text-white py-3 rounded hover:bg-hover-secondary-blue flex items-center justify-center gap-2"
        [disabled]="isRegistering">
        <ng-container *ngIf="!isRegistering">Registrarse</ng-container>
        <ng-container *ngIf="isRegistering">
          Registrando...
          <svg fill="currentColor" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12,4a8,8,0,0,1,7.89,6.7A1.53,1.53,0,0,0,21.38,12h0a1.5,1.5,0,0,0,1.48-1.75,11,11,0,0,0-21.72,0A1.5,1.5,0,0,0,2.62,12h0a1.53,1.53,0,0,0,1.49-1.3A8,8,0,0,1,12,4Z">
              <animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12"
                repeatCount="indefinite" />
            </path>
          </svg>
        </ng-container>
      </button>
    </form>

    <div class="text-center my-4 relative">
      <span class="absolute left-0 right-0 top-1/2 bg-gray-300 h-px"></span>
      <span class="relative bg-white px-2 text-gray-500">O continuar con</span>
    </div>

    <button (click)="loginWithGoogle()"
      class="w-full flex items-center justify-center gap-2 border py-3 border-gray-300 rounded text-gray-700 hover:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 48 48">
        <path fill="#ffc107"
          d="M43.611 20.083H42V20H24v8h11.303c-1.649 4.657-6.08 8-11.303 8c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C12.955 4 4 12.955 4 24s8.955 20 20 20s20-8.955 20-20c0-1.341-.138-2.65-.389-3.917" />
        <path fill="#ff3d00"
          d="m6.306 14.691l6.571 4.819C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.961 3.039l5.657-5.657C34.046 6.053 29.268 4 24 4C16.318 4 9.656 8.337 6.306 14.691" />
        <path fill="#4caf50"
          d="M24 44c5.166 0 9.86-1.977 13.409-5.192l-6.19-5.238A11.9 11.9 0 0 1 24 36c-5.202 0-9.619-3.317-11.283-7.946l-6.522 5.025C9.505 39.556 16.227 44 24 44" />
        <path fill="#1976d2"
          d="M43.611 20.083H42V20H24v8h11.303a12.04 12.04 0 0 1-4.087 5.571l.003-.002l6.19 5.238C36.971 39.205 44 34 44 24c0-1.341-.138-2.65-.389-3.917" />
      </svg> Registrarse con Google
    </button>

    <p class="text-center mt-4 text-gray-600">¿Ya tienes una cuenta? <a href="/login"
        class="text-primary-blue font-semibold underline">Iniciar sesión</a></p>
  </div>
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>