<div class="flex items-center justify-center min-h-screen bg-[#F3F4F6] bg-[url('/assets/img/oauth/grid.svg')] bg-cover bg-no-repeat bg-center bg-fixed">
    <div *ngIf="alert" [ngClass]="{
          'bg-green-50 text-green-800': alert.type === 'success',
          'bg-red-50 text-red-800': alert.type === 'error',
          'bg-yellow-50 text-yellow-800': alert.type === 'warning'
        }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg" role="alert">
      <svg *ngIf="alert.type === 'success'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path
          d="M16.707 5.293a1 1 0 0 0-1.414 0L9 11.586 6.707 9.293a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 0-1.414Z" />
      </svg>
      <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
        fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 0a10 10 0 1 0 10 10A10 10 0 0 0 10 0Zm1 15H9v-2h2Zm0-4H9V5h2Z" />
      </svg>
      <span class="text-sm font-medium">{{ alert.message }}</span>
    </div>
  
    <div class="bg-white p-12 pt-10 mt-5 mb-5 rounded-lg shadow-lg w-[30rem]">
      <h2 class="text-2xl font-semibold text-center mb-4">Iniciar sesión</h2>
  
      <form (ngSubmit)="login()">
        <div class="relative z-0 w-full mb-5 group">
          <input type="email" [(ngModel)]="loginData.email" name="email" id="email"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
            placeholder=" " required />
          <label for="email"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
        </div>
  
        <div class="relative z-0 w-full mb-5 group">
          <input type="password" [(ngModel)]="loginData.contrasenha" name="contrasenha" id="contrasenha"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
            placeholder=" " required />
          <label for="contrasenha"
            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Contraseña</label>
        </div>
  
        <button class="w-full bg-secondary-blue mt-6 text-white py-3 mt- rounded hover:bg-gray-800">Iniciar sesión</button>
      </form>
      <div class="text-center my-4 relative">
        <span class="absolute left-0 right-0 top-1/2 bg-gray-300 h-px"></span>
        <span class="relative bg-white px-2 text-gray-500">O continuar con</span>
      </div>
  
      <button (click)="initiateGoogleLogin()"
        class="w-full flex items-center justify-center gap-2 border py-3 border-gray-300 rounded text-gray-700 hover:bg-gray-200">
        <img src="https://www.svgrepo.com/show/355037/google.svg" class="w-5 h-5"> Iniciar sesión con Google
      </button>
  
      <p class="text-center mt-4 text-gray-600">¿No tienes una cuenta? <a href="/register"
          class="text-[#256EDD]  font-semibold underline">Regístrate</a></p>
    </div>
  </div>