<div
  class="flex items-center justify-center min-h-screen bg-[#F3F4F6] bg-[url('/assets/img/oauth/grid.svg')] bg-cover bg-no-repeat bg-center bg-fixed">
  <div *ngIf="alert" [ngClass]="{
          'bg-green-50 text-green-800': alert.type === 'success',
          'bg-red-50 text-red-800': alert.type === 'error'
        }" class="fixed top-5 right-5 flex items-center p-4 rounded-lg shadow-lg w-auto" role="alert">
    <svg *ngIf="alert.type === 'success'" class="shrink-0 w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg"
      fill="currentColor" viewBox="0 0 20 20">
      <path
        d="M16.707 5.293a1 1 0 0 0-1.414 0L9 11.586 6.707 9.293a1 1 0 0 0-1.414 1.414l3 3a1 1 0 0 0 1.414 0l7-7a1 1 0 0 0 0-1.414Z" />
    </svg>
    <svg *ngIf="alert.type === 'error'" class="shrink-0 w-6 h-6 mr-2"
      fill="currentColor" viewBox="0 0 20 20">
      <use xlink:href="/assets/sprite.svg#error" />
    </svg>
    <span class="text-sm font-medium">{{ alert.message }}</span>
  </div>

  <div class="bg-white p-12 pt-10 mt-5 mb-5 rounded-lg shadow-lg w-[30rem]">
    <div class="flex justify-center mb-2">
      <a href="#" class="relative -m-1.5 p-1.5 flex">

        <svg class="absolute opacity-30 -z-10" width="64" height="44" viewBox="0 0 64 44" fill="none">
          <use xlink:href="/assets/sprite.svg#logouffondo" />
        </svg>

        <svg width="64" height="44" viewBox="0 0 64 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path class="line"
            d="M6.03774 2.3999H43.5746C52.9851 2.3999 57.6903 2.3999 60.1045 5.46659C62.5187 8.53329 61.4141 13.107 59.2049 22.2544L57.3113 30.0951C55.8849 36.0014 55.1717 38.9546 52.9835 40.6772C50.7953 42.3999 47.7572 42.3999 41.6811 42.3999H18.6889C10.0002 42.3999 5.65575 42.3999 3.24994 39.6037C0.844136 36.8075 1.49255 32.5118 2.78937 23.9203L6.03774 2.3999Z"
            stroke="currentColor" stroke-width="1.8" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M39.7456 10.6449L38.633 24.2026C37.8012 31.603 31.4846 37.0577 24.1654 36.4571C16.7802 35.8511 11.2878 29.336 11.8976 21.9051L13.0017 8.45028L19.6877 8.99893L18.5835 22.4537C18.2787 26.1692 21.0248 29.4267 24.7175 29.7297C28.3456 30.0275 31.5126 27.3074 31.9599 23.4972L33.0596 10.0962L39.7456 10.6449Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line"
            d="M39.6041 14.0487C41.327 12.9001 45.9885 11.9583 48.2183 14.6228C48.5519 15.1334 49.0843 15.7245 49.3668 15.7716C52.8124 16.346 53.961 12.3263 52.8124 11.1774C51.6639 10.0285 51.6639 10.0288 51.6639 10.0288C46.8394 4.86026 38.4556 6.5832 33.0705 9.48908"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" fill-rule="evenodd" clip-rule="evenodd"
            d="M45.857 20.6169C46.5115 20.6166 47.1519 20.8076 47.6993 21.1665C48.2467 21.5254 48.6772 22.0364 48.938 22.6367C49.1987 23.2371 49.2783 23.9006 49.1669 24.5455C49.0555 25.1905 48.758 25.7889 48.311 26.267C47.864 26.7451 47.287 27.0821 46.6509 27.2366C46.0149 27.3911 45.3476 27.3562 44.7311 27.1364C44.1146 26.9166 43.5758 26.5214 43.1809 25.9993C42.7861 25.4773 42.5525 24.8512 42.5089 24.1981V23.7502C42.6206 22.0045 44.0753 20.6169 45.857 20.6169Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path class="line" d="M33.1111 9.97146L30.7795 36.8487L37.4614 37.4283L39.795 10.5294L33.113 9.94971"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <h1 class="font-display text-[1.70rem] font-black italic flex my-1">
          Unamba <span class="relative bg-[#155ffc] px-2 text-white" style="
              clip-path: polygon(8% 15%, 100% 15%, 93% 90%, 0% 90%);
            ">
            forum
          </span>
        </h1>
      </a>

    </div>
    <h2 class="text-2xl font-semibold text-center mb-4">Iniciar sesión</h2>

    <form (ngSubmit)="login()">
      <div class="relative z-0 w-full mb-5 group">
        <input type="email" [(ngModel)]="loginData.email" name="email" id="email"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="email"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
      </div>

      <div class="relative z-0 w-full mb-5 group">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="loginData.contrasenha" name="contrasenha"
          id="contrasenha"
          class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#2B7FFF] peer"
          placeholder=" " required />
        <label for="contrasenha"
          class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
          Contraseña
        </label>
        <!-- Botón para mostrar/ocultar contraseña -->
        <button *ngIf="loginData.contrasenha?.trim()" type="button"
          class="absolute right-0 top-1/2 -translate-y-1/2 text-gray-500 hover:text-gray-700"
          (click)="togglePasswordVisibility()">
          <ng-container *ngIf="showPassword">
            <!-- Icono para ocultar contraseña -->
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#eyeslash"/>
            </svg>
          </ng-container>
          <ng-container *ngIf="!showPassword">
            <!-- Icono para mostrar contraseña -->
            <svg width="24" height="24" viewBox="0 0 24 24">
              <use xlink:href="/assets/sprite.svg#eye"/>
            </svg>
          </ng-container>
        </button>
      </div>
      <button
        class="w-full bg-secondary-blue mt-6 text-white py-3 rounded hover:bg-hover-secondary-blue flex items-center justify-center gap-2"
        [disabled]="isLoggingIn">
        <ng-container *ngIf="!isLoggingIn">Iniciar sesión</ng-container>
        <ng-container *ngIf="isLoggingIn">
          Iniciando sesión...
          <svg class="spinner" width="24" height="24" viewBox="0 0 36 36" version="1.1" aria-hidden="true" data-icon="spin">
            <use xlink:href="/assets/sprite.svg#spinner"/>
          </svg>
        </ng-container>
      </button>

    </form>
    <div class="text-center my-4 relative">
      <span class="absolute left-0 right-0 top-1/2 bg-gray-300 h-px"></span>
      <span class="relative bg-white px-2 text-gray-500">O continuar con</span>
    </div>

    <button (click)="initiateGoogleLogin()"
      class="w-full flex items-center justify-center gap-2 border py-3 border-gray-300 rounded text-gray-700 hover:bg-gray-200">
      <svg width="24" height="24" viewBox="0 0 48 48">
        <use xlink:href="/assets/sprite.svg#google"/>
      </svg>Iniciar sesión con Google
    </button>

    <p class="text-center mt-4 text-gray-600">¿No tienes una cuenta? <a href="/register"
        class="text-primary-blue  font-semibold underline">Regístrate</a></p>
  </div>
</div>