<!-- Fondo oscuro claro -->
<div class="fixed inset-0 bg-[rgba(0,0,0,0.1)] z-50" (click)="closeModal()"></div>

<!-- Modal -->
<div class="fixed bottom-0 left-0 w-full max-h-[90vh] bg-white rounded-t-3xl shadow-2xl px-6 py-6 z-50 overflow-y-auto"
  (click)="$event.stopPropagation()">

  <!-- Botón de cerrar -->
  <button (click)="closeModal()"
    class="absolute top-4 right-4 text-gray-400 hover:text-gray-800 text-3xl font-light transition-transform duration-200 hover:scale-110">
    &times;
  </button>

  <!-- Barra decorativa superior -->
  <div class="mx-auto h-1.5 w-14 rounded-full bg-gray-300 mb-6"></div>

  <!-- Contenedor principal -->
  <div class="mx-auto w-full max-w-md space-y-4">

    <!-- Encabezado -->
    <div class="text-center sm:text-left px-2">
      <h2 class="text-xl font-bold leading-none tracking-tight text-gray-900 mb-1">Seguidores</h2>
      <p class="text-sm text-gray-500">Personas que siguen a {{ followers[0]?.nombreSeguido }}</p>
    </div>
    <br>

    <!-- Lista de seguidores -->
    <div class="relative overflow-hidden h-[70vh]">
      <div class="h-full w-full overflow-y-auto rounded-md no-scrollbar pr-1.5 space-y-5">

        <!-- Elemento de seguidor -->
        <div *ngFor="let follower of followers" class="flex items-center gap-4 px-2">
          <a (click)="navigateToProfileUser(follower.idSeguidor)"  class="flex-shrink-0">
            <span class="relative flex overflow-hidden rounded-full w-12 h-12 border-2 border-gray-200 shadow-sm">
             <img class="object-cover w-full h-full" [src]="follower.avatarSeguidor"
                alt="{{ follower.nombreSeguidor }}">
            </span>
          </a>
          <div class="flex-1 min-w-0">
            <div class="flex items-center gap-1">
              <a (click)="navigateToProfileUser(follower.idSeguidor)" class="font-medium text-gray-900 truncate">{{ follower.nombreSeguidor }}</a>
            </div>
              <p class="text-sm text-gray-500">{{ follower.carreraSeguidor }}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>