<div class="container mx-auto lg:px-8 mt-15 mb-20">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
    <!-- Columna lateral -->
    <div class="md:col-span-1">
      <div class="h-full max-h-[100vh] overflow-y-auto space-y-6 sticky top-28 no-scrollbar">
        <app-welcome *ngIf="isLoggedIn"></app-welcome>
        <app-filter (filterChanged)="onFilterChanged($event)"></app-filter>
        <app-publication-without-files [publications]="publicationsWithoutFiles"></app-publication-without-files>
      </div>
    </div>

    <!-- Publicaciones -->
    <div class="md:col-span-2">
<app-publication-with-files
  [publications]="publicationsWithFiles"
  [isFiltered]="isFiltered"
  (publicationDeleted)="onPublicationDeleted($event)">
</app-publication-with-files>
    </div>
  </div>
</div>
