<div class="flex xl:flex-col xl:space-y-4 gap-x-4 overflow-x-auto xl:overflow-visible">
  <!-- Publicaciones relacionadas -->
  <div *ngFor="let related of publicationRelated"
    class="group flex-shrink-0 w-[85%] sm:w-[45%] xl:w-full bg-white p-4 rounded-xl border border-gray-200 hover:border-gray-300">
    <a (click)="navigateToDetailPublication(related.idPublicacion)" title="Ver más...">
      <h3 class="text-sm font-semibold text-gray-800 leading-snug group-hover:text-secondary-blue group-hover:underline transition duration-300 truncate">
        {{ related.titulo }}
      </h3>
      <div class="flex text-xs text-gray-500 mt-1">
        <h4>{{ related.nombreCompleto }}</h4>
        <p> &nbsp;•&nbsp;{{ getTimeElapsedWrapper(related.fechaRegistro) }}</p>
      </div>
        <!-- Mostrar archivo relacionado (imagen, GIF o video) -->
        <ng-container *ngIf="related.archivos?.length > 0">
          <div class="mt-2">
            <img *ngIf="related.archivos[0].tipo === 'imagen' && !related.archivos[0].rutaArchivo.endsWith('.gif')"
              [src]="related.archivos[0].rutaArchivo" alt="Imagen relacionada"
              class="w-full h-32 object-cover rounded-lg" />

            <img *ngIf="related.archivos[0].tipo === 'imagen' && related.archivos[0].rutaArchivo.endsWith('.gif')"
              [src]="related.archivos[0].rutaArchivo" alt="GIF relacionado"
              class="w-full h-32 object-cover rounded-lg" />

            <video *ngIf="related.archivos[0].tipo === 'video'" controls class="w-full h-32 object-cover rounded-lg">
              <source [src]="related.archivos[0].rutaArchivo" type="video/mp4" />
              Tu navegador no soporta la etiqueta de video.
            </video>
          </div>
        </ng-container>

        <!-- Contenido de la publicación -->
        <p class="text-xs text-gray-700 mt-2 truncate" [innerHTML]="related.contenido">
        </p>

        <!-- Reacciones y comentarios -->
        <div class="flex gap-2 mt-2 text-xs text-gray-500"
          *ngIf="related.totalReacciones > 0 || related.totalComentarios > 0">
          <span *ngIf="related.totalReacciones > 0">{{ related.totalReacciones }} Reacciones</span>
          <span *ngIf="related.totalReacciones > 0 && related.totalComentarios > 0">•</span>
          <span *ngIf="related.totalComentarios > 0">{{ related.totalComentarios }} Comentarios</span>
        </div>
      </a>
    </div>
  </div>
