/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-primary-blue: #2b5d9c;
  --color-secondary-blue: #2b7fff;
  --color-gray-dark: #E2E8F0;
  --color-hover-secondary-blue: #1555b6;
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-40: rgba(0, 0, 0, 0.4);
  --color-hover-secondary-blue: #1555b6;
  --color-gray-200: #edf2f7;
  --color-subtitle: #1e2939;
  --font-display: 'Playfair Display';

}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}


.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*Loader spinner*/
.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hover-img-avatar {
  transition: opacity 0.4s ease-in-out;
}

.hover-img-avatar:hover {
  opacity: 0.8; 
}

/*Check*/
#check-group {
  animation: 0.32s ease-in-out 1.03s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
  stroke-dasharray: 0, 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#check-group #outline {
  animation: 0.38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

#check-group #white-circle {
  animation: 0.35s ease-in 0.35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes outline {
from {
  stroke-dasharray: 0, 345.576px;
}
to {
  stroke-dasharray: 345.576px, 345.576px;
}
}
@keyframes circle {
from {
  transform: scale(1);
}
to {
  transform: scale(0);
}
}
@keyframes check {
from {
  stroke-dasharray: 0, 75px;
}
to {
  stroke-dasharray: 75px, 75px;
}
}
@keyframes check-group {
from {
  transform: scale(1);
}
50% {
  transform: scale(1.09);
}
to {
  transform: scale(1);
}
}

