<div class="flex justify-between items-center pt-2 border-t border-gray-200 text-gray-500">
  <div class="relative inline-block border-t-10 border-r-10 border-b-10 border-transparent"
    (mouseenter)="mostrarPopover()" (mouseleave)="ocultarPopover()">
    <!-- Botón principal -->
    <button type="button" class="cursor-pointer p-2 hover:bg-gray-100 rounded-md" (click)="removeReaction()">
      <img
        [src]="currentReaction ? '/assets/icons/publication/' + currentReaction + '.png' : '/assets/icons/publication/feliz-gris.svg'"
        [alt]="currentReaction || 'feliz-gris'" class="h-6 w-6"/>
    </button>

    <!-- Popover de reacciones -->
    <div *ngIf="popoverVisible"
      class="absolute z-50 bottom-full mb-2 flex justify-center items-center gap-1 p-2 rounded-md border border-gray-200 bg-white text-sm shadow-lg"
      (mouseenter)="mantenerPopoverVisible()" (mouseleave)="ocultarPopover()">
      <!-- Emogi 1 -->
      <div class="relative" (click)="addReaction('Me identifica')" (mouseenter)="mostrarTooltip('interesa')"
        (mouseleave)="ocultarTooltip()">
        <button class="h-10 w-10 hover:bg-blue-100 rounded-md flex items-center justify-center transition">
          <img src="/assets/icons/publication/Me identifica.png" class="h-6 w-6 md:w-7 md:h-7 lg:w-8 lg:h-8" alt="me-interesa" />
        </button>
        <div *ngIf="tooltipActivo === 'interesa'"
          class="absolute bg-black text-white text-xs rounded-full py-2 px-4 -right-7 bottom-full mb-2 w-25">
          Me interesa
          <div class="absolute left-1/2 -bottom-1 w-0 h-0 border-l-4 border-r-4 border-b-4 border-transparent border-b-black transform -translate-x-1/2 rotate-180"></div>
        </div>
      </div>

      <!-- Emogi 2 -->
      <div class="relative" (click)="addReaction('Es increíble')" (mouseenter)="mostrarTooltip('increible')"
        (mouseleave)="ocultarTooltip()">
        <button class="h-10 w-10 hover:bg-red-100 rounded-md flex items-center justify-center transition">
          <img src="/assets/icons/publication/Es increíble.png" class="h-6 w-6 md:w-7 md:h-7 lg:w-8 lg:h-8" alt="es-increible" />
        </button>
        <div *ngIf="tooltipActivo === 'increible'"
          class="absolute bg-black text-white text-xs rounded-full py-2 px-4 -right-7 bottom-full mb-2 w-25">
          Es increíble
          <div class="absolute left-1/2 -bottom-1 w-0 h-0 border-l-4 border-r-4 border-b-4 border-transparent border-b-black transform -translate-x-1/2 rotate-180"></div>
        </div>
        
      </div>

      <!-- Emogi 3 -->
      <div class="relative" (click)="addReaction('Qué divertido')" (mouseenter)="mostrarTooltip('divertido')"
        (mouseleave)="ocultarTooltip()">
        <button class="h-10 w-10 hover:bg-green-100 rounded-md flex items-center justify-center transition">
          <img src="/assets/icons/publication/Qué divertido.png" class="h-6 w-6 md:w-7 md:h-7 lg:w-8 lg:h-8"alt="que-divertido" />
        </button>
        <div *ngIf="tooltipActivo === 'divertido'"
          class="absolute bg-black text-white text-xs rounded-full py-2 px-4 -right-8 mb-2 bottom-full w-26">
          Qué divertido
          <div class="absolute left-1/2 -bottom-1 w-0 h-0 border-l-4 border-r-4 border-b-4 border-transparent border-b-black transform -translate-x-1/2 rotate-180"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Otros botones -->
  <button class="p-2 hover:text-blue-600" (click)="navigateToDetailAndFocusComment()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>Comentar</title>
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 21a9 9 0 1 0-9-9c0 1.488.36 2.891 1 4.127L3 21l4.873-1c1.236.64 2.64 1 4.127 1" />
    </svg>
  </button>
  <button class="p-2 hover:text-blue-600">
    <!-- Compartir -->
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <title>Compartir</title>
      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
        d="m14 10l-3 3m9.288-9.969a.535.535 0 0 1 .68.681l-5.924 16.93a.535.535 0 0 1-.994.04l-3.219-7.242a.54.54 0 0 0-.271-.271l-7.242-3.22a.535.535 0 0 1 .04-.993z" />
    </svg>
  </button>
</div>