header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: #0D1117;
  animation: header-blur-scroll 0.3s linear both;
  color: var(--color-gray-100);
  animation-timeline: scroll();
  animation-range: 0 250px;
}

@keyframes header-blur-scroll {
  0% {
    backdrop-filter: blur(0px);
    background: #0D1117;
    border-bottom: 1px solid transparent;
    color: var(--color-gray-100);
  }

  100% {
    backdrop-filter: blur(10px);
    background: white;
    border-bottom: 1px solid var(--color-gray-200);
    color: var(--color-gray-900);
  }
}

@keyframes button-bg-scroll {
  0% {
    background-color: white;
    color: #2b7fff;
  }
  100% {
    background-color: #2b7fff;
    color: white;
  }
}

.button-scroll-animate {
  animation: button-bg-scroll 0.3s linear both;
  animation-timeline: scroll();
  animation-range: 0 250px;
  transition: all 0.3s ease;
}
