<div class="rounded-xl p-4 shadow-sm flex flex-col items-center text-center mt-4 mb-4">
    <img *ngIf="userProfile?.fotoPerfil" [src]="userProfile.fotoPerfil" alt="Perfil" class="w-12 h-12 rounded-full mb-2" />
    <p class="text-gray-700 text-sm">
        <strong>¡Hola, {{ userProfile?.nombre }} {{ userProfile?.apellidos }}!</strong> 👋<br>
        Ya estás listo para publicar. No dudes en compartir tus ideas y opiniones con todos
        nosotros. ¡Adelante!
    </p>
    <button (click)="newPublication()" class="w-full mt-4 text-white bg-primary-blue px-4 py-2 rounded-lg hover:bg-blue-800 transition">
        + Nueva publicación
    </button>
</div>