<h1 class="font-decog text-3xl">Ingenieria informatica y sistemas</h1>

<div class="sel relative z-0 w-full mb-5 group">
    <select
        class="block py-3 px-2 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 focus:outline-none focus:ring-0 focus:border-[rgb(43,127,255)] peer"
        required>
        <option value="" disabled selected hidden>Seleccione una carrera</option>
        <option>Select 1</option>
        <option>Relect 2</option>
        <option>Aelect 2</option>
    </select>

    <svg viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"
    class="absolute right-2 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-500 pointer-events-none">
    <use xlink:href="/assets/sprite.svg#select"/>
  </svg>
</div>